<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.douniu.imshh.busdata.material.dao.IMaterialDao">
    <resultMap type="Material" id="mtlmap">
        <result property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="supplierName" column="supplierName"/>
        <result property="specification1" column="specification1"/>
        <result property="specification2" column="specification2"/>
        <result property="specification3" column="specification3"/>
        <result property="unit" column="unit"/>
        <result property="formula" column="formula"/>
        <result property="remark" column="remark"/>
        <result property="status" column="status"/>
    </resultMap>
    
    <select id="findById" parameterType="String" resultMap="mtlmap">
        select * from t_material where id = #{id}
    </select>
    
    <select id="query" parameterType="Material" resultMap="mtlmap">
        select * from t_material where status = 1
        <if test="condition != null and condition !=''">
          and (name like #{condition} 
          or supplierName like #{condition}
          or specification1 like #{condition}
          or specification2 like #{condition}
          or specification3 like #{condition})
        </if>        
          order by supplierName, modifydate desc
          limit #{pageOffset},#{pageSize}
    </select> 
    <select id="queryNoPage" parameterType="Material" resultMap="mtlmap">
        select * from t_material where status = 1
        <if test="condition != null and condition !=''">
          and (name like #{condition}
          or specification1 like #{condition}
          or specification2 like #{condition}
          or specification3 like #{condition})
        </if>        
          order by modifydate desc
    </select>
    <select id="count" parameterType="Material" resultType="int">
        select count(1) from t_material where status = 1
        <if test="condition != null and condition !=''">
          and (name like #{condition}
          or supplierName like #{condition}
          or specification1 like #{condition}
          or specification2 like #{condition}
          or specification3 like #{condition})
        </if>  
    </select>   
    <insert id="insert" parameterType="Material">
        insert into t_material(id, name, supplierName, specification1, specification2, specification3, unit, formula, modifydate, remark, status)  
          values(#{id}, #{name}, #{supplierName}, #{specification1}, #{specification2}, #{specification3}, #{unit}, #{formula}, sysdate(), #{remark}, #{status})
    </insert>
    
    <insert id="batchInsert" parameterType="java.util.List">
        insert into t_material(id, name, supplierName, specification1, specification2, specification3, unit, formula, modifydate, remark, status) 
             values
             <foreach collection="list" item="mtl" index="index" separator=",">
                 (CONCAT(current_timestamp()+1, #{index}) , #{mtl.name}, #{mtl.supplierName}, #{mtl.specification1}, #{mtl.specification2}, #{mtl.specification3}, #{mtl.unit}, #{mtl.formula}, sysdate(), #{mtl.remark}, '1')
             </foreach>
    </insert>
    
    <update id="update" parameterType="Material">
        update t_material set 
          name = #{name},
          supplierName = #{supplierName},          
          specification1 = #{specification1},
          specification2 = #{specification2},
          specification3 = #{specification3},
          unit = #{unit},
          formula = #{formula},
          remark = #{remark},
          modifydate = sysdate()
    where id = #{id}
    </update>
    <update id="deleteById" parameterType="String">
        update t_material set 
          status = '0',
          modifydate = sysdate()
        where id = #{id}
    </update>
    
</mapper>