<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.douniu.imshh.finance.account.dao.IPaymentDao">
    <resultMap type="AccountPayment" id="paymentmap">
        <result property="supplierId" column="supplierId"/>
        <result property="supplierName" column="supplierName"/>
        <result property="month" column="month"/>
        <result property="debt" column="debt"/>
        <result property="payment" column="payment"/>
    </resultMap>
    
    <select id="statistics" parameterType="String" resultType="AccountPayment">
        select sum(debt) as debt, sum(payment) as payment from T_ACCOUNT_PAYMENT 
         where month like #{month}        
    </select> 
    
    <select id="statisticsBySupplier" parameterType="String" resultMap="paymentmap">
        select r.supplierName as supplierName, r.payment as debt, (case when p.payment is null then 0 else p.payment end) as payment from 
           (select supplierName, sum(totlemnt) payment 
              from t_reception 
             group by supplierName) r 
          left join 
           (select tranuser, sum(tranamount) payment 
              from t_transaction 
             where trantype = 2 group by tranuser)p 
            on r.supplierName = p.tranuser
          where supplierName like #{supplierName}
    </select>     
    
    <update id="addDebt" parameterType="AccountPayment">
        update T_ACCOUNT_PAYMENT set 
          debt = debt + #{debt}
    where supplierName = #{supplierName} 
      and month = #{month}
    </update>
    
    <update id="addPayment" parameterType="Reception">
        update T_ACCOUNT_PAYMENT set 
          payment = payment + #{payment}
    where supplierName = #{supplierName} 
      and month = #{month}
    </update>
    
</mapper>