<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.douniu.imshh.finance.account.dao.IReceptionDao">
    <resultMap type="AccountReception" id="receptionmap">
        <result property="customerId" column="customerId"/>
        <result property="customerName" column="customerName"/>
        <result property="month" column="month"/>
        <result property="reception" column="reception"/>
        <result property="payment" column="payment"/>
    </resultMap>
    
    <select id="statistics" parameterType="String" resultType="AccountReception">
        select sum(reception) as reception, sum(payment) as payment from T_ACCOUNT_RECEPTION 
         where month like #{month}        
    </select> 
    
    <select id="statisticsByCustomer" parameterType="String" resultMap="receptionmap">
        select customerName, sum(reception) as reception, sum(payment) as payment from T_ACCOUNT_RECEPTION 
         where month like #{month}  
         group by customerName
    </select>     
    
    <update id="addReception" parameterType="AccountReception">
        update T_ACCOUNT_RECEPTION set 
          reception = reception + #{reception}
    where customerName = #{customerName} 
      and month = #{month}
    </update>
    
    <update id="addPayment" parameterType="AccountReception">
        update T_ACCOUNT_RECEPTION set 
          payment = payment + #{payment}
    where customerName = #{customerName} 
      and month = #{month}
    </update>
    
</mapper>