<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.douniu.imshh.finance.account.dao.ITransactionDao">
    <resultMap type="Transaction" id="tranmap">
        <result property="id" column="id"/>
        <result property="accountNo" column="accountNo"/>
        <result property="tranDate" column="tranDate"/>
        <result property="tranType" column="tranType"/>
        <result property="tranAmount" column="tranAmount"/>
        <result property="balance" column="balance"/>
        <result property="tranUser" column="tranUser"/>
        <result property="tranBank" column="tranBank"/>
        <result property="tranAccountNo" column="tranAccountNo"/>
        <result property="orderIdentify" column="orderIdentify"/>
        <result property="purchaseId" column="purchaseId"/>
        
        <result property="remark" column="remark"/>
        <result property="status" column="status"/>
    </resultMap>
    
    <select id="findById" parameterType="String" resultMap="tranmap">
        select * from t_transaction where id = #{id}
    </select>
    
    <select id="query" parameterType="Transaction" resultMap="tranmap">
        select * from t_transaction where status = 1
        <if test="condition != null and condition !=''">
          and (orderidentify like #{condition} 
            or tranUser like #{condition} 
            or tranAccountNo like #{condition})
        </if>
        
        <if test="startDate != null">
          and tranDate &gt;= #{startDate}
        </if>
        <if test="endDate != null">
          and tranDate &lt;= #{endDate}
        </if>
          order by modifydate desc
          limit #{pageOffset},#{pageSize}
    </select> 
    
    <select id="count" parameterType="Transaction" resultType="int">
        select count(1) from t_transaction where status = 1
        <if test="condition != null and condition !=''">
          and (orderidentify like #{condition} 
            or tranUser like #{condition} 
            or tranAccountNo like #{condition})
        </if>
        
        <if test="startDate != null">
          and tranDate &gt;= #{startDate}
        </if>
        <if test="endDate != null">
          and tranDate &lt;= #{endDate}
        </if>
    </select>   
    
    <select id="queryByUser" parameterType="Transaction" resultMap="tranmap">
        select * from t_transaction where status = 1
        <if test="tranUser != null and tranUser !=''">
          and tranUser like #{tranUser} 
        </if>
        
        <if test="startDate != null">
          and tranDate &gt;= #{startDate}
        </if>
        <if test="endDate != null">
          and tranDate &lt;= #{endDate}
        </if>
          order by modifydate desc
          limit #{pageOffset},#{pageSize}
    </select> 
    
    <select id="countByUser" parameterType="Transaction" resultType="int">
        select count(1) from t_transaction where status = 1
        <if test="tranUser != null and tranUser !=''">
          and tranUser like #{tranUser} 
        </if>
        
        <if test="startDate != null">
          and tranDate &gt;= #{startDate}
        </if>
        <if test="endDate != null">
          and tranDate &lt;= #{endDate}
        </if>
    </select>   
    
    <select id="findByOrder" parameterType="String" resultMap="tranmap">
        select * from t_transaction 
         where status = 1
           and orderIdentify = #{orderIdentify} 
    </select>
    
    <select id="findByPurchaseId" parameterType="String" resultMap="tranmap">
        select * from t_transaction 
         where status = 1
           and purchaseId = #{purchaseId} 
    </select>
    
    <insert id="insert" parameterType="Transaction">
        insert into t_transaction(id, accountNo, tranDate, tranType, tranAmount, balance, tranUser, tranBank, tranAccountNo, orderIdentify, purchaseId, modifydate, remark, status) 
          values(#{id}, #{accountNo}, #{tranDate}, #{tranType}, #{tranAmount}, #{balance}, #{tranUser}, #{tranBank}, #{tranAccountNo}, #{orderIdentify}, #{purchaseId}, sysdate(), #{remark}, #{status})
    </insert>
    
    <update id="update" parameterType="Transaction">
        update t_transaction set 
          accountNo = #{accountNo},          
          tranDate = #{tranDate},
          tranType = #{tranType},
          tranAmount = #{tranAmount},
          tranUser = #{tranUser},
          tranBank = #{tranBank},
          tranAccountNo = #{tranAccountNo},
          orderIdentify = #{orderIdentify},
          purchaseId = #{purchaseId},
          
          remark = #{remark},
          modifydate = sysdate()
    where id = #{id}
    </update>
    
</mapper>