<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.douniu.imshh.busdata.customer.dao.ICustomerDao">
    <resultMap type="Customer" id="custmap">
        <result property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="address" column="address"/>
        <result property="phone" column="phone"/>
        <result property="email" column="email"/>
        <result property="fax" column="fax"/>
        <result property="contacts" column="contacts"/>
        <result property="remark" column="remark"/>
        <result property="createDate" column="createDate"/>
        <result property="status" column="status"/>
    </resultMap>
    
    <select id="findById" parameterType="String" resultMap="custmap">
        select * from t_customer where id = #{id}
    </select>
    
    <select id="findByName" parameterType="String" resultMap="custmap">
        select * from t_customer where name = #{custname}
    </select>
    
    <select id="query" parameterType="Customer" resultMap="custmap">
        select * from t_customer where status = 1
        <if test="condition != null and condition !=''">
          and (name like #{condition} 
          or phone like #{condition}
          or email like #{condition}
          or fax like #{condition}
          or contacts like #{condition})
        </if>        
          order by modifydate desc
          limit #{pageOffset},#{pageSize}
    </select> 
    <select id="queryNoPage" parameterType="Customer" resultMap="custmap">
        select * from t_customer where status = 1
        <if test="condition != null and condition !=''">
          and (name like #{condition} 
          or phone like #{condition}
          or email like #{condition}
          or fax like #{condition}
          or contacts like #{condition})
        </if>        
          order by modifydate desc
    </select>
    <select id="count" parameterType="Customer" resultType="int">
        select count(1) from t_customer where status = 1
        <if test="condition != null and condition !=''">
          and (name like #{condition} 
          or phone like #{condition}
          or email like #{condition}
          or fax like #{condition}
          or contacts like #{condition})
        </if>  
    </select>   
    <insert id="insert" parameterType="Customer">
        insert into t_customer(id, name, address, phone, email, fax, contacts, createDate, modifydate, remark, status) 
          values(#{id}, #{name}, #{address}, #{phone}, #{email}, #{fax}, #{contacts}, #{createDate}, sysdate(), #{remark}, #{status})
    </insert>
    
    <insert id="batchInsert" parameterType="java.util.List">
        
        insert into t_customer(id, name, address, phone, email, fax, contacts, createDate, modifydate, remark, status) 
             values
             <foreach collection="list" item="cust" index="index" separator=",">
                 (CONCAT(current_timestamp()+1, #{index}) , #{cust.name}, #{cust.address}, #{cust.phone}, #{cust.email}, #{cust.fax}, #{cust.contacts}, sysdate(), sysdate(), #{cust.remark}, '1')
             </foreach>
    </insert>
    
    <update id="update" parameterType="Customer">
        update t_customer set 
          name = #{name},          
          address = #{address},
          phone = #{phone},
          email = #{email},
          fax = #{fax},
          contacts = #{contacts},
          remark = #{remark},
          modifydate = sysdate()
    where id = #{id}
    </update>
    <update id="deleteById" parameterType="String">
        update t_customer set 
          status = '0',
          modifydate = sysdate()
        where id = #{id}
    </update>
    
</mapper>