<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
		xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		xmlns:aop="http://www.springframework.org/schema/aop"
		xmlns:tx="http://www.springframework.org/schema/tx"
		xmlns:context="http://www.springframework.org/schema/context"
		xsi:schemaLocation="
       http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
       http://www.springframework.org/schema/tx
       http://www.springframework.org/schema/tx/spring-tx-3.0.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context-3.0.xsd
       http://www.springframework.org/schema/aop
       http://www.springframework.org/schema/aop/spring-aop-3.0.xsd">
       
      <bean name="materialCategoryService" class="com.douniu.imshh.material.service.impl.CategoryService">
          <property name="dao" ref="materialCategoryDao"></property>
      </bean>
      <bean id="materialCategoryDao" class="org.mybatis.spring.mapper.MapperFactoryBean">
          <property name="mapperInterface" value="com.douniu.imshh.material.dao.ICategoryDao"/>
          <property name="sqlSessionFactory" ref="sqlSessionFactory"/>
      </bean>
       
      <bean name="materialService" class="com.douniu.imshh.material.service.impl.MaterialService">
          <property name="dao" ref="materialDao"></property>
          <property name="ctgService" ref="materialCategoryService"></property>
      </bean>
      <bean id="materialDao" class="org.mybatis.spring.mapper.MapperFactoryBean">
          <property name="mapperInterface" value="com.douniu.imshh.material.dao.IMaterialDao"/>
          <property name="sqlSessionFactory" ref="sqlSessionFactory"/>
      </bean>
                                                  
      <bean name="materialInService" class="com.douniu.imshh.material.service.impl.MaterialInService">
          <property name="dao" ref="materialInDao"></property>
          <property name="mtlService" ref="materialService"></property>
      </bean>
      
      <bean id="materialInDao" class="org.mybatis.spring.mapper.MapperFactoryBean">
          <property name="mapperInterface" value="com.douniu.imshh.material.dao.IMaterialInDao"/>
          <property name="sqlSessionFactory" ref="sqlSessionFactory"/>
      </bean>
      
      <bean name="materialOutService" class="com.douniu.imshh.material.service.impl.MaterialOutService">
          <property name="dao" ref="materialOutDao"></property>
          <property name="mtlService" ref="materialService"></property>
      </bean>
      
      <bean id="materialOutDao" class="org.mybatis.spring.mapper.MapperFactoryBean">
          <property name="mapperInterface" value="com.douniu.imshh.material.dao.IMaterialOutDao"/>
          <property name="sqlSessionFactory" ref="sqlSessionFactory"/>
      </bean>
      
      <bean name="materialInOutService" class="com.douniu.imshh.material.service.impl.MaterialInOutService">
          <property name="dao" ref="materialInOutDao"></property>
          <property name="mdao" ref="materialDao"></property>
      </bean>
      
      <bean id="materialInOutDao" class="org.mybatis.spring.mapper.MapperFactoryBean">
          <property name="mapperInterface" value="com.douniu.imshh.material.dao.IMaterialInOutDao"/>
          <property name="sqlSessionFactory" ref="sqlSessionFactory"/>
      </bean>
      
      <bean name="financeSubjectService" class="com.douniu.imshh.finance.service.impl.SubjectService">
          <property name="dao" ref="financeSubjectDao"></property>
      </bean>
      
      <bean id="financeSubjectDao" class="org.mybatis.spring.mapper.MapperFactoryBean">
          <property name="mapperInterface" value="com.douniu.imshh.finance.dao.ISubjectDao"/>
          <property name="sqlSessionFactory" ref="sqlSessionFactory"/>
      </bean>
      
      <bean name="voucherService" class="com.douniu.imshh.finance.service.impl.VoucherService">
          <property name="dao" ref="voucherDao"></property>
          <property name="aService" ref="financeAccountService"></property>
      </bean>
      
      <bean id="voucherDao" class="org.mybatis.spring.mapper.MapperFactoryBean">
          <property name="mapperInterface" value="com.douniu.imshh.finance.dao.IVoucherDao"/>
          <property name="sqlSessionFactory" ref="sqlSessionFactory"/>
      </bean>
      
      <bean name="financeAccountService" class="com.douniu.imshh.finance.service.impl.AccountService">
          <property name="dao" ref="financeAccountDao"></property>
          <property name="sdao" ref="financeSubjectDao"></property>
      </bean>
      
      <bean id="financeAccountDao" class="org.mybatis.spring.mapper.MapperFactoryBean">
          <property name="mapperInterface" value="com.douniu.imshh.finance.dao.IAccountDao"/>
          <property name="sqlSessionFactory" ref="sqlSessionFactory"/>
      </bean>
      <!--  -->
      
      
      
      
      
      
      <bean name="customerService" class="com.douniu.imshh.busdata.customer.service.impl.CustomerService">
          <property name="dao" ref="customerDao"></property>
      </bean>
      <bean id="customerDao" class="org.mybatis.spring.mapper.MapperFactoryBean">
          <property name="mapperInterface" value="com.douniu.imshh.busdata.customer.dao.ICustomerDao"/>
          <property name="sqlSessionFactory" ref="sqlSessionFactory"/>
      </bean>
      
      <bean name="supplierService" class="com.douniu.imshh.busdata.supplier.service.impl.SupplierService">
          <property name="dao" ref="supplierDao"></property>
      </bean>
      <bean id="supplierDao" class="org.mybatis.spring.mapper.MapperFactoryBean">
          <property name="mapperInterface" value="com.douniu.imshh.busdata.supplier.dao.ISupplierDao"/>
          <property name="sqlSessionFactory" ref="sqlSessionFactory"/>
      </bean>
      
      <bean name="productService" class="com.douniu.imshh.busdata.product.service.impl.ProductService">
          <property name="dao" ref="productDao"></property>
      </bean>
      <bean id="productDao" class="org.mybatis.spring.mapper.MapperFactoryBean">
          <property name="mapperInterface" value="com.douniu.imshh.busdata.product.dao.IProductDao"/>
          <property name="sqlSessionFactory" ref="sqlSessionFactory"/>
      </bean>
      
      
      
      <bean name="orderService" class="com.douniu.imshh.finance.order.service.impl.OrderService">
          <property name="dao" ref="orderDao"></property>
          <property name="detailService" ref="orderDetailService"></property>
      </bean>
      <bean id="orderDao" class="org.mybatis.spring.mapper.MapperFactoryBean">
          <property name="mapperInterface" value="com.douniu.imshh.finance.order.dao.IOrderDao"/>
          <property name="sqlSessionFactory" ref="sqlSessionFactory"/>
      </bean>
      
      
      <bean name="orderDetailService" class="com.douniu.imshh.finance.order.service.impl.OrderDetailService">
          <property name="dao" ref="orderDetailDao"></property>
      </bean>
      <bean id="orderDetailDao" class="org.mybatis.spring.mapper.MapperFactoryBean">
          <property name="mapperInterface" value="com.douniu.imshh.finance.order.dao.IOrderDetailDao"/>
          <property name="sqlSessionFactory" ref="sqlSessionFactory"/>
      </bean>
      
      
      
      <bean name="materialStorageService" class="com.douniu.imshh.finance.storage.service.impl.MaterialStorageService">
          <property name="dao" ref="materialStorageDao"></property>
      </bean>
      <bean id="materialStorageDao" class="org.mybatis.spring.mapper.MapperFactoryBean">
          <property name="mapperInterface" value="com.douniu.imshh.finance.storage.dao.IMaterialStorageDao"/>
          <property name="sqlSessionFactory" ref="sqlSessionFactory"/>
      </bean>
      
      <bean name="productInService" class="com.douniu.imshh.finance.storage.service.impl.ProductInService">
          <property name="dao" ref="productInDao"></property>
      </bean>
      <bean id="productInDao" class="org.mybatis.spring.mapper.MapperFactoryBean">
          <property name="mapperInterface" value="com.douniu.imshh.finance.storage.dao.IProductInDao"/>
          <property name="sqlSessionFactory" ref="sqlSessionFactory"/>
      </bean>
           
      <bean name="productOutService" class="com.douniu.imshh.finance.storage.service.impl.ProductOutService">
          <property name="dao" ref="productOutDao"></property>
      </bean>
      <bean id="productOutDao" class="org.mybatis.spring.mapper.MapperFactoryBean">
          <property name="mapperInterface" value="com.douniu.imshh.finance.storage.dao.IProductOutDao"/>
          <property name="sqlSessionFactory" ref="sqlSessionFactory"/>
      </bean>
      
      <bean name="invoiceService" class="com.douniu.imshh.finance.invoice.service.impl.InvoiceService">
          <property name="dao" ref="invoiceDao"></property>
      </bean>
      <bean id="invoiceDao" class="org.mybatis.spring.mapper.MapperFactoryBean">
          <property name="mapperInterface" value="com.douniu.imshh.finance.invoice.dao.IInvoiceDao"/>
          <property name="sqlSessionFactory" ref="sqlSessionFactory"/>
      </bean>
      
      <bean name="receptionService" class="com.douniu.imshh.finance.reception.service.impl.ReceptionService">
          <property name="dao" ref="receptionDao"></property>
      </bean>
      <bean id="receptionDao" class="org.mybatis.spring.mapper.MapperFactoryBean">
          <property name="mapperInterface" value="com.douniu.imshh.finance.reception.dao.IReceptionDao"/>
          <property name="sqlSessionFactory" ref="sqlSessionFactory"/>
      </bean>
      
      <bean name="paymentService" class="com.douniu.imshh.finance.payment.service.impl.PaymentService">
          <property name="dao" ref="paymentDao"></property>
      </bean>
      <bean id="paymentDao" class="org.mybatis.spring.mapper.MapperFactoryBean">
          <property name="mapperInterface" value="com.douniu.imshh.finance.payment.dao.IPaymentDao"/>
          <property name="sqlSessionFactory" ref="sqlSessionFactory"/>
      </bean>
            
      <bean name="materialViewService" class="com.douniu.imshh.finance.dashboard.service.impl.MaterialViewService">
          <property name="dao" ref="materialViewDao"></property>
      </bean>
      <bean id="materialViewDao" class="org.mybatis.spring.mapper.MapperFactoryBean">
          <property name="mapperInterface" value="com.douniu.imshh.finance.dashboard.dao.IMaterialViewDao"/>
          <property name="sqlSessionFactory" ref="sqlSessionFactory"/>
      </bean>
      
      <bean name="productViewService" class="com.douniu.imshh.finance.dashboard.service.impl.ProductViewService">
          <property name="dao" ref="productViewDao"></property>
      </bean>
      <bean id="productViewDao" class="org.mybatis.spring.mapper.MapperFactoryBean">
          <property name="mapperInterface" value="com.douniu.imshh.finance.dashboard.dao.IProductViewDao"/>
          <property name="sqlSessionFactory" ref="sqlSessionFactory"/>
      </bean>
      
      <bean name="accountService" class="com.douniu.imshh.finance.account.service.impl.AccountService">
          <property name="dao" ref="accountDao"></property>
      </bean>
      <bean id="accountDao" class="org.mybatis.spring.mapper.MapperFactoryBean">
          <property name="mapperInterface" value="com.douniu.imshh.finance.account.dao.IAccountDao"/>
          <property name="sqlSessionFactory" ref="sqlSessionFactory"/>
      </bean>
      
      <bean name="transactionService" class="com.douniu.imshh.finance.account.service.impl.TransactionService">
          <property name="dao" ref="transactionDao"></property>
      </bean>
      <bean id="transactionDao" class="org.mybatis.spring.mapper.MapperFactoryBean">
          <property name="mapperInterface" value="com.douniu.imshh.finance.account.dao.ITransactionDao"/>
          <property name="sqlSessionFactory" ref="sqlSessionFactory"/>
      </bean>
           
      
      
      <!--  -->
      <bean name="userService" class="com.douniu.imshh.sys.service.impl.UserService">
          <property name="dao" ref="userDao"></property>
      </bean>
      <bean id="userDao" class="org.mybatis.spring.mapper.MapperFactoryBean">
          <property name="mapperInterface" value="com.douniu.imshh.sys.dao.IUserDao"/>
          <property name="sqlSessionFactory" ref="sqlSessionFactory"/>
      </bean>
      
      <bean name="roleService" class="com.douniu.imshh.sys.service.impl.RoleService">
          <property name="dao" ref="roleDao"></property>
      </bean>
      <bean id="roleDao" class="org.mybatis.spring.mapper.MapperFactoryBean">
          <property name="mapperInterface" value="com.douniu.imshh.sys.dao.IRoleDao"/>
          <property name="sqlSessionFactory" ref="sqlSessionFactory"/>
      </bean>
      
      <bean name="authorityService" class="com.douniu.imshh.sys.service.impl.AuthorityService">
          <property name="dao" ref="authorityDao"></property>
      </bean>
      <bean id="authorityDao" class="org.mybatis.spring.mapper.MapperFactoryBean">
          <property name="mapperInterface" value="com.douniu.imshh.sys.dao.IAuthorityDao"/>
          <property name="sqlSessionFactory" ref="sqlSessionFactory"/>
      </bean>
      
      <bean name="menuService" class="com.douniu.imshh.sys.service.impl.MenuService">
          <property name="dao" ref="menuDao"></property>
      </bean>
      <bean id="menuDao" class="org.mybatis.spring.mapper.MapperFactoryBean">
          <property name="mapperInterface" value="com.douniu.imshh.sys.dao.IMenuDao"/>
          <property name="sqlSessionFactory" ref="sqlSessionFactory"/>
      </bean>
      
      <bean name="paramService" class="com.douniu.imshh.sys.service.impl.ParameterService">
          <property name="dao" ref="paramDao"></property>
      </bean>
      <bean id="paramDao" class="org.mybatis.spring.mapper.MapperFactoryBean">
          <property name="mapperInterface" value="com.douniu.imshh.sys.dao.IParameterDao"/>
          <property name="sqlSessionFactory" ref="sqlSessionFactory"/>
      </bean>
      
      
      
      <!-- 公共部分 -->
      <!-- SpringMVC上传文件时，需要配置MultipartResolver处理器 -->  
	    <bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">  
	        <property name="defaultEncoding" value="utf-8" />  
	        <!-- 指定所上传文件的总大小不能超过10485760000B。注意maxUploadSize属性的限制不是针对单个文件，而是所有文件的容量之和 -->  
	        <property name="maxUploadSize" value="10485760000" />  
	        <property name="maxInMemorySize" value="40960" />  
	    </bean>  
    
      <bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource">
         <property name="driverClassName" value="com.mysql.jdbc.Driver"/> 
         <property name="url" value="jdbc:mysql://localhost:3306/imshh?characterEncoding=utf8"/> 
         <property name="username" value="imshh"/> 
         <property name="password" value="imshh"/> 
         <property name="validationQuery" value="SELECT 1" />
    	 <property name="testOnBorrow" value="true"/>
     </bean> 
      
     <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean"> 
         <!--dataSource属性指定要用到的连接池--> 
         <property name="dataSource" ref="dataSource"/> 
         <!--configLocation属性指定mybatis的核心配置文件--> 
         <property name="configLocation" value="classpath:dbConf.xml"/> 
    </bean>   
    
     <bean id="transactionManager"
        class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <property name="dataSource" ref="dataSource" />
    </bean>
    
    <tx:advice id="txAdvice" transaction-manager="transactionManager">
        <tx:attributes>
            <tx:method name="*" propagation="REQUIRED" />
        </tx:attributes>
    </tx:advice>

    <aop:config>
        <aop:pointcut id="interceptorPointCuts"
            expression="execution(* com.douniu.imshh.*.service.*.*(..))" />
        <aop:advisor advice-ref="txAdvice"
            pointcut-ref="interceptorPointCuts" />       
    </aop:config>  
    
    <bean class="org.springframework.beans.factory.annotation.AutowiredAnnotationBeanPostProcessor"/>
    <bean class="org.springframework.context.annotation.CommonAnnotationBeanPostProcessor"/>
</beans>