<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.douniu.imshh.finance.purchase.dao.IPurchaseDao">
    <resultMap type="PurchasePlan" id="pchmap">
        <result property="id" column="id"/>
        <result property="identify" column="identify"/>
        <result property="createDate" column="createDate"/>
        <result property="orderId" column="orderId"/>
        <result property="orderIdentify" column="orderIdentify"/>
        <result property="money" column="money"/>
        <result property="paid" column="paid"/>
        <result property="balance" column="balance"/>
        <result property="planStatus" column="planStatus"/>
        <result property="remark" column="remark"/>
        <result property="status" column="status"/>
    </resultMap>
        
    <select id="findById" parameterType="String" resultMap="pchmap">
        select *, money - paid as balance from t_purchaseplan where id = #{id}
    </select>
    
    <select id="query" parameterType="PurchasePlan" resultMap="pchmap">
        select t_purchaseplan.*, money - paid as balance, t_order.identify as orderIdentify from t_purchaseplan 
          left join t_order on t_purchaseplan.orderid = t_order.id 
         where t_purchaseplan.status = 1
        <if test="identify != null and identify !=''">
          and t_purchaseplan.identify like #{identify}           
        </if> 
        <if test="orderIdentify != null and orderIdentify !=''">
          and t_order.identify like #{orderIdentify}           
        </if>      
        <if test="planStatus != 0">
          and t_purchaseplan.planStatus = #{planStatus}           
        </if> 
        <if test="startDate != null">
          and createDate &gt;= #{startDate}
        </if>
        <if test="endDate != null">
          and createDate &lt;= #{endDate}
        </if>
          order by t_purchaseplan.modifydate desc
          limit #{pageOffset},#{pageSize}
    </select> 
    
    <select id="count" parameterType="PurchasePlan" resultType="int">
        select count(1) from t_purchaseplan 
          left join t_order on t_purchaseplan.orderid = t_order.id 
         where t_purchaseplan.status = 1
        <if test="identify != null and identify !=''">
          and t_purchaseplan.identify like #{identify}           
        </if> 
        <if test="orderIdentify != null and orderIdentify !=''">
          and t_order.identify like #{orderIdentify}           
        </if>      
        <if test="planStatus != 0">
          and t_purchaseplan.planStatus = #{planStatus}           
        </if> 
        <if test="startDate != null">
          and createDate &gt;= #{startDate}
        </if>
        <if test="endDate != null">
          and createDate &lt;= #{endDate}
        </if>
    </select>   
    
    <insert id="insert" parameterType="PurchasePlan">
        insert into t_purchaseplan(id, identify, orderId, createDate, money, paid, planStatus, modifyDate, remark, status) 
          values(#{id}, #{identify}, #{orderId}, #{createDate}, #{money}, #{paid}, #{planStatus}, sysdate(), #{remark}, #{status})
    </insert>

    <update id="update" parameterType="PurchasePlan">
        update t_purchaseplan set 
          identify = #{identify},          
          orderId = #{orderId},
          money = #{money},
          paid = #{paid},
          planStatus = #{planStatus},
          
          remark = #{remark},
          modifydate = sysdate()
    where id = #{id}
    </update>
    <update id="deleteById" parameterType="String">
        update t_purchaseplan set 
          status = '0',
          modifydate = sysdate()
        where id = #{id}
    </update>
    
</mapper>