<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.douniu.imshh.finance.purchase.dao.IPurchaseDetailDao">
    <resultMap type="PurchaseDetail" id="pchdtlmap">
        <result property="id" column="id"/>
        <result property="planId" column="planId"/>
        <result property="supplierId" column="supplierId"/>
        <result property="supplierName" column="supplierName"/>
        <result property="materialId" column="materialId"/>
        <result property="materialName" column="materialName"/>
        <result property="specification" column="specification"/>
        <result property="unit" column="unit"/>
        <result property="amount" column="amount"/>
        <result property="deliverAmount" column="deliverAmount"/>
        <result property="unitPrice" column="unitPrice"/>        
        <result property="totlemnt" column="totlemnt"/>
        <result property="paid" column="paid"/>
    </resultMap>
    
    <select id="queryByPlan" parameterType="String" resultMap="pchdtlmap">
        select dtl.*, dlv.deliverAmount from t_purchaseDetail dtl 
          left join (select planDetailId, sum(amount) as deliverAmount from t_deliverDetail group by planDetailId) dlv 
            on dtl.id = dlv.planDetailId 
         where dtl.planId = #{planId}
         order by dtl.modifydate desc
    </select>
    
    <select id="findById" parameterType="String" resultMap="pchdtlmap">
    	select * from t_purchaseDetail where id = #{id}
    </select>
    
    <insert id="batchInsert" parameterType="java.util.List">
        
        insert into t_purchaseDetail(id, planId, supplierId, supplierName, materialName, materialId, specification, unit, amount, unitPrice, totlemnt, paid, modifyDate, status) 
             values
             <foreach collection="list" item="purchasedtl" index="index" separator=",">
                 (CONCAT(current_timestamp()+1, #{index}) , #{purchasedtl.planId}, #{purchasedtl.supplierId}, #{purchasedtl.supplierName}, #{purchasedtl.materialName}, #{purchasedtl.materialId}, #{purchasedtl.specification}, #{purchasedtl.unit}, #{purchasedtl.amount}, #{purchasedtl.unitPrice}, #{purchasedtl.totlemnt}, #{purchasedtl.paid}, sysdate(), '1')
             </foreach>
    </insert>
    
    <update id="update" parameterType="PurchaseDetail">
        update t_purchaseDetail set 
          planId = #{planId},
          supplierId = #{supplierId},          
          supplierName = #{supplierName},
          materialName = #{materialName},
          materialId = #{materialId},
          specification = #{specification},
          unit = #{unit},
          amount = #{amount},
          unitPrice = #{unitPrice}
          totlemnt = #{totlemnt}
          paid = #{paid}
          modifydate = sysdate()
    where id = #{id}
    </update>
    
    <update id="deleteByPlanId" parameterType="String">
        update t_purchaseDetail set 
               status = '0',
               modifydate = sysdate()
         where planId = #{planId}
    </update>
    
    <update id="killByPlanId" parameterType="String">
        delete from t_purchaseDetail 
         where planId = #{planId}
    </update>
    
</mapper>