<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.douniu.imshh.finance.dashboard.dao.IProductViewDao">
    <resultMap type="ProductView" id="pdtstat">
        <result property="year" column="year"/>
        <result property="pdtNo" column="pdtNo"/>
        <result property="orderQuantity" column="orderQuantity"/>
        <result property="productionQuantity" column="productionQuantity"/>
        <result property="stock" column="stock"/>        
        <result property="deliverQuantity" column="deliverQuantity"/>
        <result property="orderAmount" column="orderAmount"/>
        <result property="deliverAmount" column="deliverAmount"/>
    </resultMap>    
    <!-- 
    <resultMap type="ProductIndicators" id="pdtKPI">
        <result property="year" column="year"/>
        <result property="orderQuantity" column="orderQuantity"/>
        <result property="deliverQuantity" column="deliverQuantity"/>
        <result property="orderAmount" column="orderAmount"/>
        <result property="deliverAmount" column="deliverAmount"/>
    </resultMap>
     -->
    <select id="queryProduct" parameterType="ProductView" resultMap="pdtstat">
        select p.pdtNo,
               ps.stock, 
               pv.orderQuantity, 
               pv.orderAmount,
               pv.productionQuantity,
               pv.deliverQuantity,
               pv.deliverAmount               
          from (select code as pdtNo from t_product 
                 where status=1
                 <if test="pdtNo != null and pdtNo != ''">
		          and code like #{pdtNo}
		          </if>
                ) p
          left join
           (select pi.pdtNo, pi.amount - (case when po.amount is null then 0 else po.amount end) as stock 
         from (select pdtNo, sum(amount) amount from t_productin group by pdtNo) pi 
         left join (select pdtNo, sum(amount) amount from t_productout group by pdtNo) po on pi.pdtNo = po.pdtNo) ps
            on p.pdtNo = ps.pdtNo
          left join
          (select * from view_product 
         where year = #{year}) pv
          on p.pdtNo = pv.pdtNo
          order by ${orderBy} ${order}
          limit #{pageOffset},#{pageSize}
    </select> 
    
    <select id="countProduct" parameterType="ProductView" resultType="int">
        select count(1) from t_product where status = 1
          <if test="pdtNo != null and pdtNo != ''">
          and code like #{pdtNo}
          </if>
    </select>   
    
    <select id="getIndicators" parameterType="String" resultType="ProductIndicators">
        select sum(orderQuantity) orderQuantity,
               sum(deliverQuantity) deliverQuantity,
               sum(orderAmount) orderAmount,
               sum(deliverAmount) deliverAmount
          from view_product where year = #{year}
    </select>
    
</mapper>