<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.douniu.imshh.finance.dao.IVoucherDao">
	<resultMap type="Voucher" id="vocmap">
        <result property="id" column="id"/>
        <result property="billDate" column="billDate"/>        
        <result property="word" column="word"/>
        <result property="number" column="number"/>
        <result property="preparedBy" column="preparedBy"/>
        <result property="auditor" column="auditor"/>
        <result property="billStatus" column="billStatus"/>
        <result property="attachments" column="attachments"/>
        <collection property="entries" ofType="VoucherEntry">
            <id property="id" column="e_id" />
            <result property="summary" column="summary"/>
            <result property="debitAmount" column="debitAmount"/>
            <result property="creditAmount" column="creditAmount"/>
            <result property="remark" column="e_remark"/>
            <association property="subject" javaType="FinanceSubject">
	        	<id property="id" column="sub_id"/>
	        	<result property="code" column="sub_code"/>
	        	<result property="name" column="sub_name"/>
	        	<result property="fullName" column="sub_fullName"/>
	        	<result property="category" column="sub_category"/>	        	
        	</association>
        </collection>
    </resultMap>
    
    <select id="getPageResult" parameterType="FinanceFilter" resultMap="vocmap">
        select v.*, 
               ve.id as e_id, 
               ve.summary,
               ve.debitAmount,
               ve.creditAmount,
               ve.remark as e_remark,
               sub.id as sub_id,
               sub.code as sub_code,
               sub.name as sub_name,
               sub.fullName as sub_fullName,
               sub.category as sub_category
          from TBL_FIN_VOUCHER v, 
               TBL_FIN_VOUCHER_ENTRY ve,
               TBL_FIN_SUBJECT sub             
         where v.status = '1'
           and ve.status = '1'
           and v.id = ve.voucherId
           and ve.subjectId = sub.id
          <if test="voucherWord !='' and voucherWord !=0">
          and v.word = #{voucherWord} 
          </if>
          <if test="startVouchernumber !=0">
          and v.number &gt;= #{startVouchernumber} 
          </if>
          <if test="endVouchernumber !=0">
          and v.number &lt;= #{endVouchernumber} 
          </if>
          <if test="billStatus != null and billStatus !=-1">
          and v.billStatus = #{billStatus} 
          </if>
          <if test="preparedBy != null and preparedBy !=''">
          and v.preparedBy = #{preparedBy} 
          </if>
          <if test="auditor != null and auditor !=''">
          and v.auditor like #{auditor}
          </if>
          <if test="startDate != null and startDate !=''">
          and v.billDate &gt;= #{startDate} 
          </if>
          <if test="endDate != null and endDate !=''">
          and v.billDate &lt;= #{endDate} 
          </if>
          <if test="remark != null and remark !=''">
          and v.remark like #{remark} 
          </if>
          <if test="voucherSummary != null and voucherSummary !=''">
          and ve.summary like #{voucherSummary} 
          </if>
          <if test="subCode != null and subCode !=''">
          and sub.code like #{subCode} 
          </if>
          <if test="subName != null and subName !=''">
          and sub.name like #{subName} 
          </if>
          order by v.word, v.number, ve.id
          limit #{pageOffset},#{pageSize}
    </select> 
    <select id="count" parameterType="FinanceFilter" resultType="int">
        select count(1) from(
	        select distinct fullRec.id from(
		        select v.*, 
		               ve.id as e_id, 
		               ve.summary,
		               ve.debitAmount,
		               ve.creditAmount,
		               ve.remark as e_remark,
		               sub.id as sub_id,
		               sub.code as sub_code,
		               sub.name as sub_name,
		               sub.fullName as sub_fullName,
		               sub.category as sub_category
		          from TBL_FIN_VOUCHER v, 
		               TBL_FIN_VOUCHER_ENTRY ve,
		               TBL_FIN_SUBJECT sub             
		         where v.status = '1'
		           and ve.status = '1'
		           and v.id = ve.voucherId
		           and ve.subjectId = sub.id
		          <if test="voucherWord != null and voucherWord !=''">
		          and v.word = #{voucherWord} 
		          </if>
		          <if test="startVouchernumber !=0">
		          and v.number &gt;= #{startVouchernumber} 
		          </if>
		          <if test="endVouchernumber !=0">
		          and v.number &lt;= #{endVouchernumber} 
		          </if>
		          <if test="billStatus != null and billStatus !=-1">
		          and v.billStatus = #{billStatus} 
		          </if>
		          <if test="preparedBy != null and preparedBy !=''">
		          and v.preparedBy = #{preparedBy} 
		          </if>
		          <if test="auditor != null and auditor !=''">
		          and v.auditor like #{auditor}
		          </if>
		          <if test="startDate != null and startDate !=''">
		          and v.billDate &gt;= #{startDate} 
		          </if>
		          <if test="endDate != null and endDate !=''">
		          and v.billDate &lt;= #{endDate} 
		          </if>
		          <if test="remark != null and remark !=''">
		          and v.remark like #{remark} 
		          </if>
		          <if test="voucherSummary != null and remark !=''">
		          and ve.summary like #{voucherSummary} 
		          </if>
		          <if test="subCode != null and subCode !=''">
		          and sub.code like #{subCode} 
		          </if>
		          <if test="subName != null and subName !=''">
		          and sub.name like #{subName} 
		          </if>
	          ) fullRec
	      )disRec
    </select> 
    <select id="query" parameterType="FinanceFilter" resultMap="vocmap">
        select v.*, 
               ve.id as e_id, 
               ve.summary,
               ve.debitAmount,
               ve.creditAmount,
               ve.remark as e_remark,
               sub.id as sub_id,
               sub.code as sub_code,
               sub.name as sub_name,
               sub.fullName as sub_fullName,
               sub.category as sub_category
          from TBL_FIN_VOUCHER v, 
               TBL_FIN_VOUCHER_ENTRY ve,
               TBL_FIN_SUBJECT sub             
         where v.status = '1'
           and ve.status = '1'
           and v.id = ve.voucherId
           and ve.subjectId = sub.id
          <if test="voucherWord != null and voucherWord !=''">
          and v.word = #{voucherWord} 
          </if>
          <if test="startVouchernumber !=0">
          and v.number &gt;= #{startVouchernumber} 
          </if>
          <if test="endVouchernumber !=0">
          and v.number &lt;= #{endVouchernumber} 
          </if>
          <if test="billStatus != null and billStatus !=-1">
          and v.billStatus = #{billStatus} 
          </if>
          <if test="preparedBy != null and preparedBy !=''">
          and v.preparedBy = #{preparedBy} 
          </if>
          <if test="auditor != null and auditor !=''">
          and v.auditor like #{auditor}
          </if>
          <if test="startDate != null and startDate !=''">
          and v.billDate &gt;= #{startDate} 
          </if>
          <if test="endDate != null and endDate !=''">
          and v.billDate &lt;= #{endDate} 
          </if>
          <if test="remark != null and remark !=''">
          and v.remark like #{remark} 
          </if>
          <if test="voucherSummary != null and remark !=''">
          and ve.summary like #{voucherSummary} 
          </if>
          <if test="subCode != null and subCode !=''">
          and sub.code like #{subCode} 
          </if>
          <if test="subName != null and subName !=''">
          and sub.name like #{subName} 
          </if>
          order by v.word, v.number, ve.id
    </select> 
    <select id="getById" parameterType="String" resultMap="vocmap">
        select v.*, 
               ve.id as e_id, 
               ve.summary,
               ve.debitAmount,
               ve.creditAmount,
               ve.remark as e_remark,
               sub.id as sub_id,
               sub.code as sub_code,
               sub.name as sub_name,
               sub.fullName as sub_fullName,
               sub.category as sub_category
          from TBL_FIN_VOUCHER v, 
               TBL_FIN_VOUCHER_ENTRY ve,
               TBL_FIN_SUBJECT sub             
         where v.id = #{id}
           and ve.status = '1'
           and v.id = ve.voucherId
           and ve.subjectId = sub.id
           order by ve.id
    </select>
    <select id="getByName" parameterType="Voucher" resultType="Voucher">
    	select count(1) from TBL_FIN_VOUCHER where word = #{word} and number = #{number} and billDate = #{billDate}
    </select>
    <select id="getMaxNumber" parameterType="Voucher" resultType="int">
    	select max(number) from TBL_FIN_VOUCHER where word = #{word} and billDate = #{billDate}
    </select>
    <insert id="insert" parameterType="Voucher">
        insert into TBL_FIN_VOUCHER(id, billDate, word, number, preparedBy, auditor, attachments, modifydate, remark, status)  
          values(#{id}, #{billDate}, #{word}, #{number}, #{preparedBy}, #{auditor}, #{attachments}, sysdate(), #{remark}, #{status})
    </insert>
    
    <update id="update" parameterType="Voucher">
    	update TBL_FIN_VOUCHER set
    	  billDate = #{billDate},
    	  word = #{word},
    	  number = #{number},
    	  preparedBy = #{preparedBy}, 
    	  auditor = #{auditor},
    	  attachments = #{attachments},
    	  remark = #{remark},
    	  modifydate = sysdate()
        where id = #{id}
    </update>
    
    <update id="delete" parameterType="String">
        update TBL_FIN_VOUCHER set 
          status = '0',
          modifydate = sysdate()
        where id = #{id}
    </update>
    
    <insert id="insertEnteries" parameterType="java.util.List">
        insert into TBL_FIN_VOUCHER_ENTRY(id, voucherId, summary, subjectId, debitAmount, creditAmount, modifydate, remark, status) 
             values
             <foreach collection="list" item="dtl" index="index" separator=",">
                 (#{dtl.id} , #{dtl.voucherId}, #{dtl.summary}, #{dtl.subject.id}, #{dtl.debitAmount}, #{dtl.creditAmount}, sysdate(), #{dtl.remark}, '1')
             </foreach>
    </insert>
    
    <update id="deleteEnteriesByVoucher" parameterType="String">
        update TBL_FIN_VOUCHER_ENTRY set 
          status = '0',
          modifydate = sysdate()
        where voucherId = #{id}
    </update>
</mapper>