body{
	margin: 0px;
	padding: 0px;
	font-family: "Arial","Microsoft YaHei","黑体","宋体",sans-serif;
	font-size: small;
	color: #333;
	background: #edf1f5;
}
a:HOVER{
	cursor: pointer;
}
h1,h2,h3,h4,h5,h6{
	font-family: "Arial","Microsoft YaHei","黑体","宋体",sans-serif;
}
.toast{
    background: rgba(0, 0, 0, 0.7);
    color: #fff;
    font-size: 14px;
    line-height: 1;
    padding:10px;
    border-radius: 10px;
    position: absolute;
    left: 50%;
    top: 25%;
    transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    z-index: 9999;
}
button.active{
	color: #ffffff;
    background-color: #428bca;
    border-color: #357ebd;
}
.light-border-bottom{
	border-bottom: 1px solid #cfcfcf;
}
.login-box {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #D8D8D8;
    border-radius: 7px 7px 7px 7px;
    box-shadow: 0, 1px, 4px #D3D3D3;
    margin: 10px auto;
    padding: 40px 60px 80px;
    position: relative;
    min-height: 300px;
}
.login-box h3{
	font-size: 28px;
    text-align: center;
    margin-bottom: 40px;
}
.login-box input{
  background: none repeat scroll 0 0 #FFFFFF;
  font-size: 15px;
  margin: 0;
  padding: 10px 8px 8px;
  width: 100%;
  border-radius: 6px;
  box-shadow: none;
  min-width: 0;
  padding-left: 33px !important;
}
.login-box button {
  width: 100%;
}
.login-box form i{
  color: #CCCCCC;
  display: block !important;
  font-size: 16px;
  height: 16px;
  margin: 9px 2px 4px 10px;
  position: absolute !important;
  text-align: center;
  width: 16px;
  z-index: 1;
}

.error-tip {
	padding: 5px 10px;
	color: rgba(255, 0, 0, 0.8);
	font-weight: 500;
}

.m-l-5 {
	margin-left: 5px;
}

.nav-list {
	padding-left: 0;
	margin-bottom: 0;
	list-style: none;
}

.header{
	background: #2f323e;
	color: white;
	height: 60px;
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1000;
}

.header-brand{
	padding: 10px;
	float: left;
}

.header-nav{
	margin-right: 10px;
}

.header-nav > li {
	float: left;
}

.header-nav > li > a {
    color: white;
    text-decoration: none;
    display: inline-block;
	height: 60px;
	line-height: 60px;	
	padding: 0px 14px;
}

.header-nav > li > a:hover {
	cursor: pointer;
	background: rgba(0, 0, 0, 0.9);
}

.app-search {
	display: inline;
	position: relative;
	margin: 0;
}
.app-search .form-control, 
.app-search .form-control:focus {
	border: none;
	font-size: 13px;
	color: #4c5667;
	padding-left: 20px;
	padding-right: 40px;
	margin-right: 15px;
	background: rbga(255, 255,255, 0.9);
	box-shadow: none;
	height: 30px;
	width: 180px;
	display: inline-block;
	line-height: 30px;
	margin-top: 15px;
	border-radius: 40px;
	transform: 0.5s ease-out;
}

.app-search a {
	position: absolute;
	top: -14px;
	right: 30px;
	color: #4C5667;
	padding: 20px 0;
}

.app-search a:hover {
	cursor: pointer;
	color: rgba(0, 0, 0, .9);
}

.sidebar{
	background: #fff;
	box-shadow: 1px 0px 20px rgba(0, 0, 0, 0.08);
	position: fixed;
	left: 0;
	top: 60px;
	bottom: 0;
	width: 240px;
}

#side-menu li a {
  	color: #54667a;
  	border-left: 0px solid #fff;
  	text-decoration: none;
  	display: block
}

#side-menu > li > ul {
	background: rgba(0, 0, 0, 0.05);
	display: none;
	overflow: hidden;	
}

#side-menu > li > a {
	padding: 15px 35px 15px 20px;
}

#side-menu > li > ul > li > a {
	padding: 7.5px 15px 7.5px 40px;
	
}

#side-menu > li > a:hover {
  background: rgba(0, 0, 0, 0.07);
}

#side-menu > li > ul > li > a:hover {
  background: rgba(0, 0, 0, 0.1);
}

#side-menu > li > a.active {
  color: #54667a;
  font-weight: 600;
}

#side-menu > li > ul > li > a.active {
  background: rgba(0, 0, 0, 0.1);
  color: #54667a;
  border-left: 3px solid #41b3f9;
  font-weight: 600;
}

.sidebar ul > li > a .arrow:before {
  float: right;
  margin-top: 1px;
  margin-right: 5px;
  display: inline;
  font-size: 16px;
  font-family: FontAwesome;
  height: auto;
  content: "\f104";
  font-weight: 300;
  text-shadow: none;
}

.sidebar ul > li > a .arrow.open:before {
  float: right;
  margin-top: 1px;
  margin-right: 5px;
  display: inline;
  font-family: FontAwesome;
  height: auto;
  font-size: 16px;
  content: "\f107";
  font-weight: 300;
  text-shadow: none;
}

.content-warpper {
	margin-top: 60px;
	margin-left: 120px;	
}
.title {
    background: #fff;
    height: 50px;
    line-height: 50px;
    font-size: 1.5em;	
    padding: 0px 18px;
    
}
.panel {
	background: #fff;
	border-radius: 5px;
	padding: 8px;
}
.panel-head{
    padding: 8px 5px;
    font-size: 16px;
    font-weight: 500;
    line-height: 30px;
}
.panel-body{
	padding: 5px;
}

.table-operation a{
	color: rgba(0, 0, 0, .5);
	font-size: 13px;
	font-weight: 200;
	padding: 10px 3px;
}
.table-operation a:HOVER{
	color: rgba(0, 0, 0, .9);
	cursor: pointer;
}
.table-search {
	display: inline;
	position: relative;
	margin: 0;
}
.table-search .form-control, 
.table-search .form-control:focus {
	display: inline;
	border: 1px solid rgba(188, 188, 188, .5);
	width: 188px;
	/* font-size: 13px; */
	color: #4c5667;
	padding-left: 20px;
	padding-right: 48px;
	box-shadow: none;	
}
.table-search a {
	font-size: 13px;
	position: absolute;
	color: rgba(0, 0, 0, .5);
	padding: 20px 0;
}

.table-search a:hover {
	cursor: pointer;
	color: rgba(0, 0, 0, .9);
}
.table-search > .search{
	top: -18px;
	right: 30px;
}
.table-search > .more{
	top: -18px;
	right: 10px;
}
.table-fliter{
	padding-top: 5px;
}
.tip{
	position: relative;
	font-size: 12px;
	color: #8a6d3b;
    background-color: #fcf8e3;
    border-color: #faebcc;
    padding: 5px;
    padding-right: 18px;
    border-radius: 5px;
    margin-left: 3px;
}
.tip > button{
	position: absolute;
	top: 3px;
	right: 8px;
	padding: 0;
    cursor: pointer;
    background: transparent;
    border: 0;
    -webkit-appearance: none;
  
	font-size: 21px;
    font-weight: bold;
    line-height: 1;
    color: #000000;
    text-shadow: 0 1px 0 #ffffff;
    opacity: 0.2;
    filter: alpha(opacity=20);
}
.tip > button:HOVER{
	opacity: 0.5;
}

/***
Select2 Plugin
***/
.form-control .select2-choice {
  border: 1px solid #e5e5e5;
  background-color: #fff;
  background-image: none;
  filter: none;
  height: 34px;
  padding: 3px 0 0px 12px;
}
 
 
.select2-container.select2-drop-above .select2-choice {
  border-bottom-color: #e5e5e5;
  background-color: #fff;
  background-image: none;
  filter: none;
}
 
 
.select2-drop {
  border: 1px solid #e5e5e5;
  background-color: #fff;
  background-image: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  filter: none;
  border-top: 0;
}
.select2-drop-auto-width {
  border-top: 1px solid #e5e5e5;
}
 
 
.select2-drop.select2-drop-above {
  border-top: 1px solid #e5e5e5;
  -webkit-box-shadow: none;
  box-shadow: none;
}
 
 
.select2-drop-active {
  border: 1px solid #999;
  border-top: 0;
}
 
 
.select2-container .select2-choice .select2-arrow {
  background-image: none;
  background-color: #fff;
  filter: none;
  border-left: 1px solid #e5e5e5;
}
 
 
.select2-container.select2-container-active .select2-arrow,
.select2-container.select2-dropdown-open .select2-arrow {
  border-left: 0 !important;
}
 
 
.select2-container .select2-choice .select2-arrow b {
  background-position: 0 1px;
}
 
 
.select2-search input {
  border: 1px solid #e5e5e5;
  background-color: #fff !important;
  filter: none;
  margin: 0;
  outline: 0;
  border: 1px solid #e5e5e5;
  webkit-appearance: none !important;
  color: #333333;
  outline: 0;
  box-shadow: none;
  height: auto !important;
  min-height: 26px;
  padding: 6px 6px !important;
  line-height: 20px;
  font-size: 14px;
  font-weight: normal;
  vertical-align: top;
  background-color: #ffffff;
  -webkit-box-shadow: none;
  box-shadow: none;
  margin-top: 5px;
}
 
 
.form-control.select2-container {
  border: 0;
  height: auto !important;
  padding: 0px;
}


 
 
.select2-container-active .select2-choice,
.select2-container-active .select2-choices {
  border: 1px solid #999 !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}
 
 
.select2-dropdown-open .select2-choice {
  border-bottom: 0 !important;
  background-image: none;
  background-color: #fff;
  filter: none;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}
 
 
.select2-dropdown-open.select2-drop-above .select2-choice,
.select2-dropdown-open.select2-drop-above .select2-choices {
  border: 1px solid #999 !important;
  border-top: 0 !important;
  background-image: none;
  background-color: #fff;
  filter: none;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}
 
 
.select2-drop.select2-drop-above.select2-drop-active {
  border: 1px solid #999 !important;
  border-bottom: 0 !important;
}
 
 
.select2-dropdown-open .select2-choice .select2-arrow b {
  background-position: -18px 1px;
}
 
 
.select2-results {
  margin: 5px 0;
}
 
 
.select2-results .select2-highlighted {
  background: #eee;
  color: #333;
}
 
 
.select2-results li em {
  background: #feffde;
  font-style: normal;
}
 
 
.select2-results .select2-highlighted em {
  background: transparent;
}
 
 
.select2-results .select2-highlighted ul {
  background: #fff;
  color: #000;
}
 
 
.select2-results .select2-no-results,
.select2-results .select2-searching,
.select2-results .select2-selection-limit {
  padding: 3px 7px 4px;
  background: #f4f4f4;
  display: list-item;
}
 
 
.select2-container-multi {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
}
.select2-container-multi .select2-choices {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
}
.select2-container-multi.select2-dropdown-open {
  -webkit-border-radius: 4px 4px 0 0;
  -moz-border-radius: 4px 4px 0 0;
  -ms-border-radius: 4px 4px 0 0;
  -o-border-radius: 4px 4px 0 0;
  border-radius: 4px 4px 0 0;
}
.select2-container-multi.select2-dropdown-open .select2-choices {
  -webkit-border-radius: 4px 4px 0 0;
  -moz-border-radius: 4px 4px 0 0;
  -ms-border-radius: 4px 4px 0 0;
  -o-border-radius: 4px 4px 0 0;
  border-radius: 4px 4px 0 0;
}
.select2-container-multi.select2-dropdown-open.select2-drop-above {
  -webkit-border-radius: 0 0 4px 4px;
  -moz-border-radius: 0 0 4px 4px;
  -ms-border-radius: 0 0 4px 4px;
  -o-border-radius: 0 0 4px 4px;
  border-radius: 0 0 4px 4px;
}
.select2-container-multi.select2-dropdown-open.select2-drop-above .select2-choices {
  -webkit-border-radius: 0 0 4px 4px;
  -moz-border-radius: 0 0 4px 4px;
  -ms-border-radius: 0 0 4px 4px;
  -o-border-radius: 0 0 4px 4px;
  border-radius: 0 0 4px 4px;
}
 
 
.select2-container-multi .select2-choices {
  padding-left: 6px;
  min-height: 34px;
  border: 1px solid #e5e5e5;
  background-image: none;
  background-color: #fff;
  filter: none;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}
 
 
.select2-container-multi.select2-container-active .select2-choices {
  border: 1px solid #999 !important;
  background-image: none;
  background-color: #fff;
  filter: none;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}
 
 
.select2-container-multi .select2-choices .select2-search-choice {
  padding: 3px 5px 3px 18px;
  margin: 5px 0 3px 5px;
  border: 1px solid #e5e5e5;
  background-image: none;
  background-color: #fff;
  filter: none;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}
