<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.douniu.imshh.sys.dao.IAuthorityDao">
    <resultMap type="Authority" id="authoritymap">
        <result property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="parentId" column="parentId"/>
        <result property="action" column="action"/>
        <result property="dependents" column="dependents"/>
        <result property="remark" column="remark"/>
    </resultMap>
    
    <resultMap type="Menu" id="menumap">
        <result property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="parentId" column="parentId"/>
        <result property="url" column="url"/>
        <result property="icon" column="icon"/>
    </resultMap>
    
    <select id="query" resultMap="authoritymap">
        select * from t_authority
          order by id
    </select> 
    
    <select id="queryByRole" parameterType="String" resultMap="authoritymap">
        select m.* from t_authority m, t_role_authority b where m.id = b.authorityId and b.roleId = #{roleId}
    </select>    
    
    <select id="queryByUser" parameterType="String" resultMap="authoritymap">
        select a.* from t_authority a, t_role_authority r, t_user_role u where a.id = r.authorityId and r.roleId = u.roleId and u.userId= #{userId}
    </select>
    
    <select id="queryMenuByUser" parameterType="String" resultMap="menumap">
        select distinct m.* from t_menu m, t_role_authority r, t_user_role u where m.id = r.authorityId and r.roleId = u.roleId and u.userId= #{userId} order by m.id 
    </select>
    
    <select id="getAllMenu" resultMap="menumap">
        select * from t_menu m order by id 
    </select>
    
    <select id="findMenuById" parameterType="String" resultType="Menu">
        select * from t_menu m where id = #{menuId}
    </select>
    
    <select id="findById" parameterType="String" resultMap="authoritymap">
        select * from t_authority where id = #{id}
    </select>
    
</mapper>