<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.douniu.imshh.customer.dao.ICustomerDao">
    <resultMap type="Customer" id="custmap">
        <result property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="address" column="address"/>
        <result property="phone" column="phone"/>
        <result property="email" column="email"/>
        <result property="fax" column="fax"/>
        <result property="contacts" column="contacts"/>
        <result property="remark" column="remark"/>
        <result property="createDate" column="createDate"/>
        <result property="status" column="status"/>
    </resultMap>
    
    <select id="findById" parameterType="String" resultMap="custmap">
        select * from tbl_customer where id = #{id}
    </select>
    
    <select id="getPageResult" parameterType="CustomerFilter" resultMap="custmap">
        select * from tbl_customer where status = 1
        <if test="custName != null and custName !=''">
          and name like #{custName}
        </if> 
        <if test="custPhone != null and custPhone !=''">
          and phone like #{custPhone}
        </if>
        <if test="custContacts != null and custContacts !=''">
          and contacts like #{custContacts}
        </if>
        <if test="remark != null and remark !=''">
          and remark like #{remark}
        </if>       
          order by modifydate desc
          limit #{pageOffset},#{pageSize}
    </select> 
    
    <select id="query" parameterType="CustomerFilter" resultMap="custmap">
        select * from tbl_customer where status = 1
        <if test="custName != null and custName !=''">
          and name like #{custName}
        </if> 
        <if test="custPhone != null and custPhone !=''">
          and phone like #{custPhone}
        </if>
        <if test="custContacts != null and custContacts !=''">
          and contacts like #{custContacts}
        </if>
        <if test="remark != null and remark !=''">
          and remark like #{remark}
        </if>       
          order by modifydate desc
    </select>
    <select id="count" parameterType="CustomerFilter" resultType="int">
        select count(1) from tbl_customer where status = 1
        <if test="custName != null and custName !=''">
          and name like #{custName}
        </if> 
        <if test="custPhone != null and custPhone !=''">
          and phone like #{custPhone}
        </if>
        <if test="custContacts != null and custContacts !=''">
          and contacts like #{custContacts}
        </if>
        <if test="remark != null and remark !=''">
          and remark like #{remark}
        </if>       
    </select>   
    <insert id="insert" parameterType="Customer">
        insert into tbl_customer(id, name, address, phone, email, fax, contacts, createDate, modifydate, remark, status) 
          values(#{id}, #{name}, #{address}, #{phone}, #{email}, #{fax}, #{contacts}, #{createDate}, sysdate(), #{remark}, #{status})
    </insert>
    
    <insert id="batchInsert" parameterType="java.util.List">
        
        insert into tbl_customer(id, name, address, phone, email, fax, contacts, createDate, modifydate, remark, status) 
             values
             <foreach collection="list" item="supp" index="index" separator=",">
                 (CONCAT(current_timestamp()+1, #{index}) , #{supp.name}, #{supp.address}, #{supp.phone}, #{supp.email}, #{supp.fax}, #{supp.contacts}, sysdate(), sysdate(), #{supp.remark}, '1')
             </foreach>
    </insert>
    
    <update id="update" parameterType="Customer">
        update tbl_customer set 
          name = #{name},          
          address = #{address},
          phone = #{phone},
          email = #{email},
          fax = #{fax},
          contacts = #{contacts},
          remark = #{remark},
          modifydate = sysdate()
    where id = #{id}
    </update>
    <update id="deleteById" parameterType="String">
        update tbl_customer set 
          status = '0',
          modifydate = sysdate()
        where id = #{id}
    </update>
    
</mapper>