<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.douniu.imshh.finance.storage.dao.IProductOutDao">
    <resultMap type="ProductOut" id="pdtoutmap">
        <result property="id" column="id"/>
        <result property="deliverDate" column="deliverDate"/>
        <result property="orderIdentify" column="orderIdentify"/>
        <result property="customerName" column="customerName"/>
        <result property="pdtNo" column="pdtNo"/>
        <result property="content" column="content"/>
        <result property="amount" column="amount"/>
        <result property="remark" column="remark"/>
        <result property="status" column="status"/>
    </resultMap>
    
    
    <select id="queryDeliverDetail" parameterType="ProductOut" resultMap="pdtoutmap">
        select * from t_productout 
          where status = 1
        <if test="condition != null and condition !=''">
          and (pdtNo like #{condition}
            or orderIdentify like #{condition}
            or customername like #{condition})             
        </if> 
        <if test="startDate != null">
          and deliverDate &gt;= #{startDate}
        </if>
        <if test="endDate != null">
          and deliverDate &lt;= #{endDate}
        </if>
          order by modifydate desc
          limit #{pageOffset},#{pageSize}
    </select>    
    
    <select id="queryByCustomer" parameterType="ProductOut" resultMap="pdtoutmap">
        select * from t_productout 
          where status = 1
        <if test="customerName != null and customerName !=''">
          and customername like #{customerName}           
        </if> 
        <if test="startDate != null">
          and deliverDate &gt;= #{startDate}
        </if>
        <if test="endDate != null">
          and deliverDate &lt;= #{endDate}
        </if>
          order by modifydate desc
          limit #{pageOffset},#{pageSize}
    </select>
    
    <select id="queryDeliverNoPage" parameterType="ProductOut" resultMap="pdtoutmap">
        select * from t_productout 
          where status = 1
        <if test="condition != null and condition !=''">
          and (pdtNo like #{condition}
            or orderIdentify like #{condition}
            or customername like #{condition})           
        </if> 
        <if test="startDate != null">
          and deliverDate &gt;= #{startDate}
        </if>
        <if test="endDate != null">
          and deliverDate &lt;= #{endDate}
        </if>
          order by modifydate desc
    </select>
    
    <select id="countDeliverDetail" parameterType="ProductOut" resultType="int">
        select count(1) from t_productout where status = 1
        <if test="condition != null and condition !=''">
          and (pdtNo like #{condition}
            or orderIdentify like #{condition}
            or customername like #{condition})           
        </if>
        <if test="startDate != null">
          and deliverDate &gt;= #{startDate}
        </if>
        <if test="endDate != null">
          and deliverDate &lt;= #{endDate}
        </if>
    </select>
    
    <select id="countByCustomer" parameterType="ProductOut" resultType="int">
        select count(1) from t_productout 
          where status = 1
        <if test="customerName != null and customerName !=''">
          and customername like #{customerName}           
        </if> 
        <if test="startDate != null">
          and deliverDate &gt;= #{startDate}
        </if>
        <if test="endDate != null">
          and deliverDate &lt;= #{endDate}
        </if>
    </select>
    
    <select id="findDeliverById" parameterType="String" resultMap="pdtoutmap">
        select * from t_productout where status = 1 and id = #{id}
    </select>
    
    <select id="findByOrder" parameterType="String" resultMap="pdtoutmap">
        select * from t_productout where orderIdentify = #{orderIdentify}
    </select>
    
    <insert id="insert" parameterType="ProductOut">
        insert into t_productout(id, deliverDate, orderIdentify, customerName, pdtNo, content, amount, modifyDate, remark, status) 
          values(#{id}, #{deliverDate}, #{orderIdentify}, #{customerName}, #{pdtNo}, #{content}, #{amount}, sysdate(), #{remark}, #{status})
    </insert>
    
    <insert id="batchInsert" parameterType="java.util.List">
        insert into t_productout(id, deliverDate, orderIdentify, customerName, pdtNo, content, amount, modifyDate, remark, status) 
          values
          <foreach collection="list" item="dlvr" index="index" separator=",">
          (CONCAT(current_timestamp()+1, #{index}), #{dlvr.deliverDate}, #{dlvr.orderIdentify}, #{dlvr.customerName}, #{dlvr.pdtNo}, #{dlvr.content}, #{dlvr.amount}, sysdate(), #{dlvr.remark}, '1')
    	  </foreach>
    </insert>

    <update id="update" parameterType="ProductOut">
        update t_productout set 
          deliverDate = #{deliverDate},                    
          pdtNo = #{pdtNo},
          content = #{content},
          amount = #{amount},
          orderIdentify = #{orderIdentify},
          remark = #{remark},
          modifydate = sysdate()
    where id = #{id}
    </update>
    <update id="deleteById" parameterType="String">
        update t_productout set 
          status = '0',
          modifydate = sysdate()
        where id = #{id}
    </update>
    
    
</mapper>