<meta charset="UTF-8">

    <div class="panel-head" style="margin-top: -10px">
        <div class="table-search"  >
            <input id="filter_name" class="form-control" type="text" placeholder="材料名称" style=""/>
            <input id="filter_spec" class="form-control" type="text" placeholder="材料规格"/>
            <select id="filter_ctgCode" >
		        <option value="" ></option>
		    </select>
            <button id="btn_search" class="btn btn-default btn-sm">查询</button>
		</div>
       	
   </div>
	
	<table id="tbl_material" class="table table-condensed">
	</table>			

<div class="clearfix">
  <input type="button" id="btn_close" value="关闭" class="btn btn-default btn-sm pull-right m-l-5" data-dismiss="modal">
  <input type="button" id="btn_select_close" value="选择关闭" class="btn btn-default btn-sm pull-right m-l-5" data-dismiss="modal">
  <input type="button" id="btn_select" value="选择" class="btn btn-success btn-sm pull-right">
  
</div>

<script>
$(function(){
	$.getJSON(
		getProjectName() + "/mtlCtgy/query.do",
		function(result){
			$.each(result, function(index, ctg){
				var indent = '';
				var num = ctg.code.length - 2
				for (var i = 0; i < num; i++){indent+= '&nbsp;&nbsp;';}
				$("#filter_ctgCode").append("<option value='"+ctg.id+"'>"+indent+ctg.code+" "+ctg.name+"</option>");					
			});
			$("#filter_ctgCode").select2({
				placeholder: "请选择材料分类",
				allowClear: true
			});
		}
	);
	
	$("#tbl_material").bootstrapTable({
		url: getProjectName() + "/mtl/getPageResult.do",
		method: "get",
		pagination: true,
		sidePagination: "server", 
		clickToSelect: true,
		columns: [{
            checkbox: true
        }, {
            field: 'name',
            title: '品名',
            width: '30%'
        }, {
            field: 'specification',
            title: '规格',
            width: '30%'
        }, {
            field: 'ctg.name',
            title: '分类',
            width: '25%'
        }, {
            field: 'unit',
            title: '单位'
        }],
        queryParams: function(params){
        	return {
                pageSize: params.limit,
                pageOffset: params.offset,                    
                pageSize: params.limit,
                pageOffset: params.offset,                    
                name: $("#filter_name").val(),
                ctgCode: $("#filter_ctgCode").val(),
                specification: $("#filter_spec").val()
            }
        }
	});
	
	$("#btn_search").click(function(){
		$("#tbl_material").bootstrapTable("refresh", {url: getProjectName() + "/mtl/getPageResult.do", cache: false});	
	});
	
	$("#btn_select_close,#btn_select").click(function(){
		var selections = $("#tbl_material").bootstrapTable('getSelections');
		if (selections.length == 0){
			Ewin.alert({message: "请选择需要入库的原材料"}).on(function(e){});
			return;
		}
		
		var _selections = [];
		$.each(selections, function(i, data) {
			_selections.push({'material': data});
		});
		$("#tbl_material").bootstrapTable("uncheckAll");
		
		var bill = $('#eBill').eBill();
		bill.fillBill({'tableData': _selections});
	});
});


</script>