<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.douniu.imshh.finance.order.dao.IOrderDetailDao">
    <resultMap type="OrderDetail" id="orderdtlmap">
        <id property="id" column="detailId"/>
	        <result property="orderIdentify" column="orderIdentify"/>
	        <result property="pdtNo" column="pdtNo"/>
	        <result property="pdtName" column="pdtName"/>
	        <result property="content" column="content"/>
	        <result property="quantity" column="quantity"/>
	        <result property="priceRMB" column="priceRMB"/>
	        <result property="priceDollar" column="priceDollar"/>
	        <result property="totlmentRMB" column="totlemntRMB"/>
	        <result property="totlmentDollar" column="totlemntDollar"/>
	        <result property="inStorageQuantity" column="inStorageQuantity"/>
	        <result property="deliverQuantity" column="deliverQuantity"/>
	        <result property="remark" column="detailremark"/>
	        <result property="status" column="status"/>
    </resultMap>
    
    <select id="findById" parameterType="String" resultType="OrderDetail">
        select * from t_OrderDetail where id = #{id}
    </select>
    
    <insert id="batchInsert" parameterType="java.util.List">
        
        insert into t_OrderDetail(id, orderIdentify, pdtNo, pdtName, content, quantity, priceRMB, priceDollar, totlmentRMB, totlmentDollar, modifyDate, remark, status) 
             values
             <foreach collection="list" item="orderdtl" index="index" separator=",">
                 (CONCAT(current_timestamp()+1, #{index}) , #{orderdtl.orderIdentify}, #{orderdtl.pdtNo}, #{orderdtl.pdtName}, #{orderdtl.content}, #{orderdtl.quantity}, #{orderdtl.priceRMB}, #{orderdtl.priceDollar}, #{orderdtl.totlmentRMB}, #{orderdtl.totlmentDollar}, sysdate(), #{orderdtl.remark}, '1')
             </foreach>
    </insert>
    
    <update id="update" parameterType="OrderDetail">
        update t_OrderDetail set 
          orderIdentify = #{orderIdentify},
          pdtNo = #{pdtNo},          
          pdtName = #{pdtName},
          content = #{content},
          quantity = #{quantity},
          priceRMB = #{priceRMB},
          priceDollar = #{priceDollar},
          totlmentRMB = #{totlmentRMB},
          totlmentDollar = #{totlmentDollar},
          remark = #{remark},
          modifydate = sysdate()
    where id = #{id}
    </update>
    
    <update id="deleteByOrderIdentify" parameterType="String">
        update t_OrderDetail set 
               status = '0',
               modifydate = sysdate()
         where orderIdentify = #{orderIdentify}
    </update>
    
    <update id="killByOrderIdentify" parameterType="String">
        delete from t_OrderDetail 
         where orderIdentify = #{orderIdentify}
    </update>
    
</mapper>