<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.douniu.imshh.finance.order.dao.IOrderDao">
    <resultMap type="Order" id="ordermap">
        <id property="id" column="id"/>
        <result property="identify" column="identify"/>
        <result property="orderType" column="orderType"/>
        <result property="custName" column="custName"/>
        <result property="orderDate" column="orderDate"/>
        <result property="deliveryTerm" column="deliveryTerm"/>
        <result property="exchangeRate" column="exchangeRate"/>
        <result property="amountRMB" column="amountRMB"/>
        <result property="amountDollar" column="amountDollar"/>
        <result property="paid" column="paid"/>
        <result property="state" column="state"/>
        <result property="remark" column="remark"/>
        <result property="status" column="status"/>        
    </resultMap>
    <resultMap type="Order" id="orderdtlmap">
        <id property="id" column="id"/>
        <result property="identify" column="identify"/>
        <result property="orderType" column="orderType"/>
        <result property="custName" column="custName"/>
        <result property="orderDate" column="orderDate"/>
        <result property="deliveryTerm" column="deliveryTerm"/>
        <result property="exchangeRate" column="exchangeRate"/>
        <result property="amountRMB" column="amountRMB"/>
        <result property="amountDollar" column="amountDollar"/>
        <result property="paid" column="paid"/>
        <result property="state" column="state"/>
        <result property="remark" column="remark"/>
        <result property="status" column="status"/>
        
        <collection property="details" ofType="OrderDetail">
            <id property="id" column="detailId"/>
	        <result property="orderIdentify" column="orderIdentify"/>
	        <result property="pdtNo" column="pdtNo"/>
	        <result property="pdtName" column="pdtName"/>
	        <result property="content" column="content"/>
	        <result property="quantity" column="quantity"/>
	        <result property="priceRMB" column="priceRMB"/>
	        <result property="priceDollar" column="priceDollar"/>
	        <result property="totlmentRMB" column="totlmentRMB"/>
	        <result property="totlmentDollar" column="totlmentDollar"/>
	        <result property="inStorageQuantity" column="inStorageQuantity"/>
	        <result property="deliverQuantity" column="deliverQuantity"/>
	        <result property="remark" column="detailremark"/>
	        <result property="status" column="status"/>
        </collection>
    </resultMap>
    
    <select id="findById" parameterType="String" resultMap="orderdtlmap">
        select *, t_orderdetail.id as detailId from t_order left join t_orderdetail on t_order.identify = t_orderdetail.orderidentify where t_order.id = #{id}
    </select>
    
    <select id="findByNo" parameterType="String" resultMap="orderdtlmap">
        select *, t_orderdetail.id as detailId from t_order left join t_orderdetail on t_order.identify = t_orderdetail.orderidentify where t_order.identify = #{no}
    </select>
    
    <select id="query" parameterType="Order" resultMap="ordermap">
        select * from t_Order where status = 1
        <if test="condition != null and condition !=''">
          and (identify like #{condition}
            or custName like #{condition})
        </if> 
        <if test="startDate != null">
          and orderDate &gt;= #{startDate}
        </if>
        <if test="endDate != null">
          and orderDate &lt;= #{endDate}
        </if>
          order by orderDate desc
          limit #{pageOffset},#{pageSize}
    </select> 
    <select id="queryNoPage" parameterType="Order" resultMap="ordermap">
        select * from t_Order where status = 1
        <if test="condition != null and condition !=''">
          and (identify like #{condition}
            or custName like #{condition})
        </if>   
        <if test="orderType != null and orderType !=''">
          and orderType = #{orderType}
        </if> 
        <if test="state != null and state !=''">
          and state = #{state}
        </if>
        <if test="startDate != null">
          and orderDate &gt;= #{startDate}
        </if>
        <if test="endDate != null">
          and orderDate &lt;= #{endDate}
        </if>
          order by orderDate desc
    </select> 
    <select id="queryOrderAndDetail" parameterType="Order" resultMap="orderdtlmap">
        <!-- select t_order.id, identify, custName, orderDate, amount, t_Order.remark, orderId, t_orderdetail.id as detailid, pdtno,content,pdtName, quantity,priceRMB,priceDollar,totlemnt,t_orderdetail.remark as detailremark  from t_Order, t_orderdetail where t_Order.id = t_orderdetail.orderid and t_Order.status = 1 -->
        select * from t_order left join t_orderdetail on t_order.identify = t_orderdetail.orderidentify where t_Order.status = 1
        <if test="condition != null and condition !=''">
          and (identify like #{condition}
            or custName like #{condition})
        </if>
        <if test="orderType != null and orderType !=''">
          and orderType = #{orderType}
        </if> 
        <if test="state != null and state !=''">
          and state = #{state}
        </if>
        <if test="startDate != null">
          and orderDate &gt;= #{startDate}
        </if>
        <if test="endDate != null">
          and orderDate &lt;= #{endDate}
        </if>
          order by t_order.orderDate desc
    </select>
    <select id="count" parameterType="Order" resultType="int">
        select count(1) from t_Order where status = 1
        <if test="condition != null and condition !=''">
          and (identify like #{condition}
            or custName like #{condition})
        </if>
        <if test="orderType != null and orderType !=''">
          and orderType = #{orderType}
        </if> 
        <if test="state != null and state !=''">
          and state = #{state}
        </if>
        <if test="startDate != null">
          and orderDate &gt;= #{startDate}
        </if>
        <if test="endDate != null">
          and orderDate &lt;= #{endDate}
        </if> 
    </select>   
    <insert id="insert" parameterType="Order">
        insert into t_Order(id, identify, orderType, custName, orderDate, deliveryTerm, exchangeRate, amountRMB, amountDollar, state, modifydate, remark, status)  
          values(#{id}, #{identify}, #{orderType}, #{custName}, #{orderDate}, #{deliveryTerm}, #{exchangeRate}, #{amountRMB}, #{amountDollar}, #{state}, sysdate(), #{remark}, #{status})
    </insert>
    
    <insert id="batchInsert" parameterType="java.util.List">
        
        insert into t_Order(id, identify, orderType, custName, orderDate, deliveryTerm, exchangeRate, amountRMB, amountDollar, state, modifydate, remark, status) 
             values
             <foreach collection="list" item="order" index="index" separator=",">
                 (#{order.id} , #{order.identify}, #{order.orderType}, #{order.custName}, #{order.orderDate}, #{order.deliveryTerm}, #{order.exchangeRate}, #{order.amountRMB}, #{order.amountDollar}, #{order.state}, sysdate(), #{order.remark}, '1')
             </foreach>
    </insert>
    
    <update id="update" parameterType="Order">
        update t_Order set 
          identify = #{identify},
          orderType = #{orderType},
          custName = #{custName},
          orderDate = #{orderDate},
          deliveryTerm = #{deliveryTerm},
          exchangeRate = #{exchangeRate},
          amountRMB = #{amountRMB},
          amountDollar = #{amountDollar},
          remark = #{remark},
          modifydate = sysdate()
    where id = #{id}
    </update>
    
    <update id="updateState" parameterType="Order">
        update t_Order set 
          state = #{state},          
          modifydate = sysdate()
    where identify = #{identify}
    </update>
    
    <update id="deleteById" parameterType="String">
        update t_Order set 
          status = '0',
          modifydate = sysdate()
        where id = #{id}
    </update>
    
</mapper>