<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.douniu.imshh.material.dao.ICategoryDao">
    <resultMap type="MaterialCategory" id="mtlctgymap">
        <result property="id" column="id"/>
        <result property="code" column="code"/>
        <result property="name" column="name"/>
        <result property="parentId" column="parentId"/>
        <result property="remark" column="remark"/>
        <result property="status" column="status"/>
    </resultMap>
    
    <select id="getPageResult" parameterType="MaterialFilter" resultMap="mtlctgymap">
        select * 
          from tbl_material_category 
         where status = '1' 
          <if test="name != null and name !=''">
          and name like #{name} 
          </if>
          <if test="ctgCode != null and ctgCode !=''">
          and code like #{ctgCode} 
          </if>
          <if test="remark != null and remark !=''">
          and remark like #{remark} 
          </if>
          order by code
          limit #{pageOffset},#{pageSize}
    </select> 
    <select id="query" parameterType="MaterialFilter" resultMap="mtlctgymap">
        select * from tbl_material_category where status = 1
          <if test="name != null and name !=''">
          and name like #{name} 
          </if>
          <if test="ctgCode != null and ctgCode !=''">
          and code like #{ctgCode} 
          </if>
          <if test="remark != null and remark !=''">
          and remark like #{remark} 
          </if>      
          order by code
    </select>
    
    <select id="count" parameterType="MaterialFilter" resultType="int">
        select count(1) 
          from tbl_material_category 
         where status = '1' 
          <if test="name != null and name !=''">
          and name like #{name} 
          </if>
          <if test="ctgCode != null and ctgCode !=''">
          and code like #{ctgCode} 
          </if>
          <if test="parentId != null and parentId !=''">
          and parentId = #{parentId} 
          </if>
          <if test="remark != null and remark !=''">
          and remark like #{remark} 
          </if>          
    </select>   
    
    <select id="getById" parameterType="String" resultType="MaterialCategory">
        select * from tbl_material_category where id = #{id}
    </select>
    
    <select id="getByCode" parameterType="String" resultType="MaterialCategory">
        select * from tbl_material_category where code = #{code}
    </select>
    
    <insert id="insert" parameterType="MaterialCategory">
        insert into tbl_material_category (id, code, name, parentId, modifydate, remark, status)  
          values(#{id}, #{code}, #{name}, #{parentId}, sysdate(), #{remark}, #{status})
    </insert>
    
    <update id="update" parameterType="MaterialCategory">
        update tbl_material_category set 
          name = #{name},
          code = #{code},
          remark = #{remark},
          modifydate = sysdate()
        where id = #{id}
    </update>
    
    <update id="delete" parameterType="String">
        update tbl_material_category set 
          status = '0',
          modifydate = sysdate()
        where id = #{id}
    </update>
    
</mapper>