<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.douniu.imshh.material.dao.IMaterialInDao">
	<resultMap type="MaterialInBill" id="mibmap">
        <result property="id" column="mib_id"/>
        <result property="billDate" column="mib_billDate"/>        
        <result property="number" column="mib_number"/>
        <result property="manager" column="mib_manager"/>
        <result property="accountant" column="mib_accountant"/>
        <result property="custodian" column="mib_custodian"/>
        <result property="acceptor" column="mib_acceptor"/>
        <result property="handover" column="mib_handover"/>
        <result property="totalQuantity" column="mib_totalQuantity"/>
        <result property="totalAmount" column="mib_totalAmount"/>
        <result property="billStatus" column="mib_billStatus"/>
        <result property="remark" column="mib_remark"/>
        <result property="status" column="mib_status"/>
        <association property="supplier" javaType="Supplier">
        	<id property="id" column="s_id"/>
        	<result property="name" column="s_name"/>
        </association>
    </resultMap>
        
    <resultMap type="MaterialInBill" id="mibwdmap" extends="mibmap">
    	<collection property="details" ofType="MaterialBillDetail">
            <id property="id" column="dtl_id" />
            <result property="billId" column="dtl_billId"/>
            <result property="specification" column="dtl_specification"/>
	        <result property="quantity" column="dtl_quantity"/>
	        <result property="price" column="dtl_price"/>
	        <result property="amount" column="dtl_amount"/>
	        
	        <result property="remark" column="dtl_remark"/>
	        <result property="status" column="dtl_status"/>
	        
	        <association property="material" javaType="Material">
	        	<id property="id" column="m_id"/>
	        	<result property="name" column="m_name"/>
        	</association>
        </collection>
    </resultMap>
    
    <select id="getPageResult" parameterType="MaterialFilter" resultMap="mibwdmap">
        select mi.id as mib_id, mi.number as mib_number, mi.billDate as mib_billDate, mi.s_id, mi.s_name, mi.totalAmount as mib_totalAmount, mdi.* 
	      from    
	        (select mti.*, s.id as s_id, s.name as s_name from tbl_bill_materialin mti, tbl_supplier s 
	          where mti.status = '1'
	            and mti.supplierId = s.id
	          order by mti.billDate desc
	          limit #{pageOffset},#{pageSize})mi
	      left join
	        (select d.id as dtl_id,
	                d.billId as dtl_billId, 
	                d.quantity as dtl_quantity,
	                d.remark as dtl_remark, 
	                m.id as m_id,  
	                m.name as m_name, 
	                m.specification as m_specification,
	                mc.code
	           from tbl_bill_dtl_materialin d, tbl_material m, tbl_material_category mc
	          where d.status = '1'
	            and d.materialId = m.id
	            and m.categoryId = mc.id)mdi
	        on mi.id = mdi.dtl_billId
         where 1 = 1
         <if test="number != null and number !=''">
          and mi.number like #{number} 
          </if>
          <if test="supplier != null and supplier !=''">
          and mi.s_id = #{supplier} 
          </if>
          <if test="startDate != null and startDate !=''">
          and mi.billDate &gt;= #{startDate} 
          </if>
          <if test="endDate != null and endDate !=''">
          and mi.billDate &lt;= #{endDate} 
          </if>
          <!-- <if test="ctgCode != null and ctgCode !=''">
          and mdi.code like #{ctgCode} 
          </if> -->
    </select> 
    <select id="count" parameterType="MaterialFilter" resultType="int">
    	select count(1) from tbl_bill_materialin
	         where 1 = 1
	          <if test="number != null and number !=''">
	          and number like #{number} 
	          </if>
	          <if test="supplier != null and supplier !=''">
	          and supplierid = #{supplier} 
	          </if>
	          <if test="startDate != null and startDate !=''">
	          and billDate &gt;= #{startDate} 
	          </if>
	          <if test="endDate != null and endDate !=''">
	          and billDate &lt;= #{endDate} 
	          </if>
    </select> 
    
    <select id="query" parameterType="MaterialFilter" resultMap="mibwdmap">
        select mi.id as mib_id, mi.number as mib_number, mi.billDate as mib_billDate, mi.s_id, mi.s_name, mi.totalAmount as mib_totalAmount, mdi.* 
	      from    
	        (select mti.*, s.id as s_id, s.name as s_name from tbl_bill_materialin mti, tbl_supplier s 
	          where mti.status = '1'
	            and mti.supplierId = s.id
	          order by mti.billDate desc)mi
	      left join
	        (select d.id as dtl_id,
	                d.billId as dtl_billId, 
	                d.quantity as dtl_quantity,
	                d.remark as dtl_remark, 
	                m.id as m_id,  
	                m.name as m_name, 
	                m.specification as m_specification,
	                mc.code
	           from tbl_bill_dtl_materialin d, tbl_material m, tbl_material_category mc
	          where d.status = '1'
	            and d.materialId = m.id
	            and m.categoryId = mc.id)mdi
	        on mi.id = mdi.dtl_billId
         where 1 = 1
         <if test="number != null and number !=''">
          and mi.number like #{number} 
          </if>
          <if test="supplier != null and supplier !=''">
          and mi.s_id = #{supplier} 
          </if>
          <if test="startDate != null and startDate !=''">
          and mi.billDate &gt;= #{startDate} 
          </if>
          <if test="endDate != null and endDate !=''">
          and mi.billDate &lt;= #{endDate} 
          </if>
          <!-- <if test="ctgCode != null and ctgCode !=''">
          and mdi.code like #{ctgCode} 
          </if> -->
    </select> 
    
    <select id="getById" parameterType="String" resultMap="mibwdmap">
        select mib.id as mib_id, 
               mib.billDate as mib_billDate, 
               mib.number as mib_number, 
               mib.manager as mib_manager, 
               mib.accountant as mib_accountant,               
               mib.custodian as mib_custodian, 
               mib.acceptor as mib_acceptor, 
               mib.handover as mib_handover, 
               mib.totalQuantity as mib_totalQuantity, 
               mib.totalAmount as mib_totalAmount, 
               mib.billStatus as mib_billStatus,
               mib.remark as mib_remark, 
               mib.status as mib_status, 
               s.id as s_id,
               s.name as s_name,
               
               dtl.id as dtl_id,
               dtl.billId as dtl_billId,
               dtl.specification as dtl_specification,
               dtl.quantity as dtl_quantity,
               dtl.price as dtl_price,
               dtl.amount as dtl_amount,
               dtl.remark as dtl_remark,
               dtl.status as dtl_status,
               m.id as m_id,
               m.name as m_name
          from tbl_bill_materialin mib, 
               tbl_bill_dtl_materialin dtl, 
               tbl_supplier s,
               tbl_material m             
         where mib.id = #{id}
           and mib.supplierId = s.id
           and mib.id = dtl.billId
           and dtl.status = '1'
           and dtl.materialId = m.id
    </select>
    
    <insert id="insert" parameterType="MaterialInBill">
        insert into tbl_bill_materialin(id, supplierId, billDate, number, totalQuantity, totalAmount, manager, accountant, custodian, acceptor, handover, modifydate, remark, status)  
          values(#{id}, #{supplier.id}, #{billDate}, #{number}, #{totalQuantity}, #{totalAmount}, #{manager}, #{accountant}, #{custodian}, #{acceptor}, #{handover}, sysdate(), #{remark}, #{status})
    </insert>
    
    <update id="update" parameterType="MaterialInBill">
    	update tbl_bill_materialin set
    	  supplierId = #{supplier.id},
    	  billDate = #{billDate},
    	  number = #{number},
    	  totalQuantity = #{totalQuantity}, 
    	  totalAmount = #{totalAmount},
    	  manager = #{manager},
    	  accountant = #{accountant},
    	  custodian = #{custodian},
    	  acceptor = #{acceptor},
    	  handover = #{handover},
    	  remark = #{remark},
    	  modifydate = sysdate()
        where id = #{id}
    </update>
    
    <update id="delete" parameterType="String">
        update tbl_bill_materialin set 
          status = '0',
          modifydate = sysdate()
        where id = #{id}
    </update>
    
    <insert id="insertDetails" parameterType="java.util.List">
        insert into tbl_bill_dtl_materialin(id, billId, materialId, specification, quantity, price, amount, modifydate, remark, status) 
             values
             <foreach collection="list" item="dtl" index="index" separator=",">
                 (#{dtl.id} , #{dtl.billId}, #{dtl.material.id}, #{dtl.specification}, #{dtl.quantity}, #{dtl.price}, #{dtl.amount}, sysdate(), #{dtl.remark}, '1')
             </foreach>
    </insert>
    
    <update id="deleteDetailsByBillId" parameterType="String">
        update tbl_bill_dtl_materialin set 
          status = '0',
          modifydate = sysdate()
        where billId = #{id}
    </update>
    
    
    
    <!-- <resultMap type="MaterialIn" id="mtlinmap">
        <result property="id" column="id"/>
        <result property="inDate" column="inDate"/>
        <result property="materialId" column="materialId"/>
        <result property="materialName" column="materialName"/>
        <result property="specification1" column="specification1"/>
        <result property="specification2" column="specification2"/>
        <result property="specification3" column="specification3"/>
        <result property="unit" column="unit"/>
        <result property="amount" column="amount"/>
        <result property="supplierId" column="supplierId"/>
        <result property="supplierName" column="supplierName"/>
        <result property="remark" column="remark"/>
        <result property="status" column="status"/>
    </resultMap>
    
    <select id="getPageResult" parameterType="MaterialFilter" resultMap="mtlinmap">
        select mi.*, 
               m.name as materialName, 
               m.specification1, 
               m.specification2, 
               m.specification3, 
               m.unit, 
               ms.name as supplierName 
          from tbl_material_in mi, 
               tbl_material m, 
               tbl_material_supplier ms 
         where mi.status = '1' 
           and mi.materialId = m.id 
           and mi.supplierId = ms.id
          <if test="startDate != null">
          and mi.inDate &gt;= #{startDate}
          </if>
          <if test="endDate != null">
          and mi.inDate &lt;= #{endDate}
          </if>
          <if test="name != null and name !=''">
          and m.name like #{name} 
          </if>
          <if test="supplier != null and supplier !=''">
          and ms.id = #{supplier}
          </if>
          order by mi.inDate desc
          limit #{pageOffset},#{pageSize}
    </select> 
    
    <select id="query" parameterType="MaterialFilter" resultMap="mtlinmap">
        select mi.*, 
               m.name as materialName, 
               m.specification1, 
               m.specification2, 
               m.specification3, 
               m.unit, 
               ms.name as supplierName 
          from tbl_material_in mi, 
               tbl_material m, 
               tbl_material_supplier ms 
         where mi.status = '1' 
           and mi.materialId = m.id 
           and mi.supplierId = ms.id
          <if test="startDate != null">
          and mi.inDate &gt;= #{startDate}
          </if>
          <if test="endDate != null">
          and mi.inDate &lt;= #{endDate}
          </if>
          <if test="name != null and name !=''">
          and m.name like #{name} 
          </if>
          <if test="supplier != null and supplier !=''">
          and ms.id = #{supplier}
          </if>
          order by mi.inDate desc
    </select>
    
    <select id="count" parameterType="Material" resultType="int">
        select count(1) 
          from tbl_material_in mi, 
               tbl_material m, 
               tbl_material_supplier ms 
         where mi.status = '1' 
           and mi.materialId = m.id 
           and mi.supplierId = ms.id
          <if test="startDate != null">
          and mi.inDate &gt;= #{startDate}
          </if>
          <if test="endDate != null">
          and mi.inDate &lt;= #{endDate}
          </if>
          <if test="name != null and name !=''">
          and m.name like #{name} 
          </if>
          <if test="supplier != null and supplier !=''">
          and ms.id = #{supplier}
          </if> 
    </select>   
    
    <select id="getById" parameterType="String" resultType="MaterialIn">
        select mi.*, 
               m.name as materialName, 
               m.specification1, 
               m.specification2, 
               m.specification3, 
               m.unit, 
               ms.name as supplierName 
          from tbl_material_in mi, 
               tbl_material m, 
               tbl_material_supplier ms 
         where mi.id = #{id}
           and mi.status = '1' 
           and mi.materialId = m.id 
           and mi.supplierId = ms.id 
    </select>
    
    <insert id="insert" parameterType="MaterialIn">
        insert into tbl_material_in(id, inDate, materialId, amount, supplierId, modifydate, remark, status)  
          values(#{id}, #{inDate}, #{materialId}, #{amount}, #{supplierId}, sysdate(), #{remark}, #{status})
    </insert>
    
    <insert id="batchInsert" parameterType="java.util.List">
        insert into tbl_material_in(id, inDate, materialId, amount, supplierId, modifydate, remark, status) 
             values
             <foreach collection="list" item="mtlin" index="index" separator=",">
                 (#{mtlin.id} , #{mtlin.inDate}, #{mtlin.materialId}, #{mtlin.amount}, #{mtlin.supplierId}, sysdate(), #{mtlin.remark}, '1')
             </foreach>
    </insert>
    
    <update id="delete" parameterType="String">
        update tbl_material_in set 
          status = '0',
          modifydate = sysdate()
        where id = #{id}
    </update> -->
    
</mapper>