<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.douniu.imshh.material.dao.IMaterialInDao">
    <resultMap type="MaterialIn" id="mtlinmap">
        <result property="id" column="id"/>
        <result property="inDate" column="inDate"/>
        <result property="materialId" column="materialId"/>
        <result property="materialName" column="materialName"/>
        <result property="specification1" column="specification1"/>
        <result property="specification2" column="specification2"/>
        <result property="specification3" column="specification3"/>
        <result property="unit" column="unit"/>
        <result property="amount" column="amount"/>
        <result property="supplierId" column="supplierId"/>
        <result property="supplierName" column="supplierName"/>
        <result property="remark" column="remark"/>
        <result property="status" column="status"/>
    </resultMap>
    
    <select id="getPageResult" parameterType="MaterialFilter" resultMap="mtlinmap">
        select mi.*, 
               m.name as materialName, 
               m.specification1, 
               m.specification2, 
               m.specification3, 
               m.unit, 
               ms.name as supplierName 
          from tbl_material_in mi, 
               tbl_material m, 
               tbl_material_supplier ms 
         where mi.status = '1' 
           and mi.materialId = m.id 
           and mi.supplierId = ms.id
          <if test="startDate != null">
          and mi.inDate &gt;= #{startDate}
          </if>
          <if test="endDate != null">
          and mi.inDate &lt;= #{endDate}
          </if>
          <if test="name != null and name !=''">
          and m.name like #{name} 
          </if>
          <if test="supplier != null and supplier !=''">
          and ms.id = #{supplier}
          </if>
          order by mi.inDate desc
          limit #{pageOffset},#{pageSize}
    </select> 
    
    <select id="query" parameterType="MaterialFilter" resultMap="mtlinmap">
        select mi.*, 
               m.name as materialName, 
               m.specification1, 
               m.specification2, 
               m.specification3, 
               m.unit, 
               ms.name as supplierName 
          from tbl_material_in mi, 
               tbl_material m, 
               tbl_material_supplier ms 
         where mi.status = '1' 
           and mi.materialId = m.id 
           and mi.supplierId = ms.id
          <if test="startDate != null">
          and mi.inDate &gt;= #{startDate}
          </if>
          <if test="endDate != null">
          and mi.inDate &lt;= #{endDate}
          </if>
          <if test="name != null and name !=''">
          and m.name like #{name} 
          </if>
          <if test="supplier != null and supplier !=''">
          and ms.id = #{supplier}
          </if>
          order by mi.inDate desc
    </select>
    
    <select id="count" parameterType="Material" resultType="int">
        select count(1) 
          from tbl_material_in mi, 
               tbl_material m, 
               tbl_material_supplier ms 
         where mi.status = '1' 
           and mi.materialId = m.id 
           and mi.supplierId = ms.id
          <if test="startDate != null">
          and mi.inDate &gt;= #{startDate}
          </if>
          <if test="endDate != null">
          and mi.inDate &lt;= #{endDate}
          </if>
          <if test="name != null and name !=''">
          and m.name like #{name} 
          </if>
          <if test="supplier != null and supplier !=''">
          and ms.id = #{supplier}
          </if> 
    </select>   
    
    <select id="getById" parameterType="String" resultType="MaterialIn">
        select mi.*, 
               m.name as materialName, 
               m.specification1, 
               m.specification2, 
               m.specification3, 
               m.unit, 
               ms.name as supplierName 
          from tbl_material_in mi, 
               tbl_material m, 
               tbl_material_supplier ms 
         where mi.id = #{id}
           and mi.status = '1' 
           and mi.materialId = m.id 
           and mi.supplierId = ms.id 
    </select>
    
    <insert id="insert" parameterType="MaterialIn">
        insert into tbl_material_in(id, inDate, materialId, amount, supplierId, modifydate, remark, status)  
          values(#{id}, #{inDate}, #{materialId}, #{amount}, #{supplierId}, sysdate(), #{remark}, #{status})
    </insert>
    
    <insert id="batchInsert" parameterType="java.util.List">
        insert into tbl_material_in(id, inDate, materialId, amount, supplierId, modifydate, remark, status) 
             values
             <foreach collection="list" item="mtlin" index="index" separator=",">
                 (#{mtlin.id} , #{mtlin.inDate}, #{mtlin.materialId}, #{mtlin.amount}, #{mtlin.supplierId}, sysdate(), #{mtlin.remark}, '1')
             </foreach>
    </insert>
    
    <update id="delete" parameterType="String">
        update tbl_material_in set 
          status = '0',
          modifydate = sysdate()
        where id = #{id}
    </update>
    
</mapper>