<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.douniu.imshh.material.dao.IMaterialOutDao">
    <resultMap type="MaterialOutBill" id="mobmap">
        <result property="id" column="id"/>
        <result property="billDate" column="billDate"/>        
        <result property="number" column="number"/>
        <result property="preparedBy" column="preparedBy"/>
        <result property="auditor" column="auditor"/>
        <result property="custodian" column="custodian"/>
        <result property="billReason" column="billReason"/>
        <result property="totalQuantity" column="totalQuantity"/>
        <result property="totalAmount" column="totalAmount"/>
        <result property="billStatus" column="billStatus"/>
        <result property="remark" column="remark"/>
        <result property="status" column="status"/>
    </resultMap>
        
    <resultMap type="MaterialOutBill" id="mobwdmap" extends="mobmap">
    	<collection property="details" ofType="MaterialBillDetail">
            <id property="id" column="dtl_id" />
            <result property="billId" column="dtl_billId"/>
            <result property="specification" column="dtl_specification"/>
	        <result property="quantity" column="dtl_quantity"/>
	        <result property="price" column="dtl_price"/>
	        <result property="amount" column="dtl_amount"/>
	        
	        <result property="remark" column="dtl_remark"/>
	        <result property="status" column="dtl_status"/>
	        
	        <association property="material" javaType="Material">
	        	<id property="id" column="m_id"/>
	        	<result property="name" column="m_name"/>
	        	<result property="specification" column="m_specification"/>
        	</association>
        </collection>
    </resultMap>
    
    <select id="getPageResult" parameterType="MaterialFilter" resultMap="mobwdmap">
    	select mo.*, mdo.* 
	      from    
	        (select * from tbl_bill_materialout
	          where status = '1'
	          order by billDate desc
	          limit #{pageOffset},#{pageSize})mo
	      left join
	        (select d.id as dtl_id,
	                d.billId as dtl_billId, 
	                d.quantity as dtl_quantity,
	                d.remark as dtl_remark, 
	                m.id as m_id,  
	                m.name as m_name, 
	                m.specification as m_specification
	           from tbl_bill_dtl_materialout d, tbl_material m
	          where d.status = '1'
	            and d.materialId = m.id)mdo
	        on mo.id = mdo.dtl_billId
         where 1 = 1
         <if test="number != null and number !=''">
          and mo.number like #{number} 
          </if>
          <if test="billReason != null and billReason !=''">
          and mo.billReason = #{billReason} 
          </if>
          <if test="startDate != null and startDate !=''">
          and mo.billDate &gt;= #{startDate} 
          </if>
          <if test="endDate != null and endDate !=''">
          and mo.billDate &lt;= #{endDate} 
          </if>
    </select>
    
    <select id="query" parameterType="MaterialFilter" resultMap="mobwdmap">
        select mo.*, mdo.* 
	      from    
	        (select * from tbl_bill_materialout
	          where status = '1'
	          order by billDate desc)mo
	      left join
	        (select d.id as dtl_id,
	                d.billId as dtl_billId, 
	                d.quantity as dtl_quantity,
	                d.remark as dtl_remark, 
	                m.id as m_id,  
	                m.name as m_name, 
	                m.specification as m_specification
	           from tbl_bill_dtl_materialout d, tbl_material m
	          where d.status = '1'
	            and d.materialId = m.id)mdo
	        on mo.id = mdo.dtl_billId
         where 1 = 1
         <if test="number != null and number !=''">
          and mo.number like #{number} 
          </if>
          <if test="billReason != null and billReason !=''">
          and mo.billReason = #{billReason} 
          </if>
          <if test="startDate != null and startDate !=''">
          and mo.billDate &gt;= #{startDate} 
          </if>
          <if test="endDate != null and endDate !=''">
          and mo.billDate &lt;= #{endDate} 
          </if>
    </select> 
    <select id="count" parameterType="MaterialFilter" resultType="int">
        select count(1)
          from tbl_bill_materialout    
         where status = '1'
          <if test="number != null and number !=''">
          and number like #{number} 
          </if>
          <if test="billReason != null and billReason !=''">
          and billReason = #{billReason} 
          </if>
          <if test="startDate != null and startDate !=''">
          and billDate &gt;= #{startDate} 
          </if>
          <if test="endDate != null and endDate !=''">
          and billDate &lt;= #{endDate} 
          </if>
    </select> 
    
    <select id="getById" parameterType="String" resultMap="mobwdmap">
        select mob.*,
               dtl.id as dtl_id,
               dtl.billId as dtl_billId,
               dtl.specification as dtl_specification,
               dtl.quantity as dtl_quantity,
               dtl.price as dtl_price,
               dtl.amount as dtl_amount,
               dtl.remark as dtl_remark,
               dtl.status as dtl_status,
               m.id as m_id,
               m.name as m_name
          from tbl_bill_materialout mob, 
               tbl_bill_dtl_materialout dtl, 
               tbl_material m             
         where mob.id = #{id}
           and mob.id = dtl.billId
           and dtl.status = '1'
           and dtl.materialId = m.id
    </select>
    
    <insert id="insert" parameterType="MaterialOutBill">
        insert into tbl_bill_materialout(id, billDate, number, totalQuantity, totalAmount, preparedBy, auditor, custodian, billReason, modifydate, remark, status)  
          values(#{id}, #{billDate}, #{number}, #{totalQuantity}, #{totalAmount}, #{preparedBy}, #{auditor}, #{custodian}, #{billReason}, sysdate(), #{remark}, #{status})
    </insert>
    
    <update id="update" parameterType="MaterialInBill">
    	update tbl_bill_materialout set
    	  billDate = #{billDate},
    	  number = #{number},
    	  totalQuantity = #{totalQuantity}, 
    	  totalAmount = #{totalAmount},
    	  preparedBy = #{preparedBy},
    	  auditor = #{auditor},
    	  custodian = #{custodian},
    	  billReason = #{billReason},
    	  billStatus = #{billStatus},
    	  remark = #{remark},
    	  modifydate = sysdate()
        where id = #{id}
    </update>
    
    <update id="delete" parameterType="String">
        update tbl_bill_materialout set 
          status = '0',
          modifydate = sysdate()
        where id = #{id}
    </update>
    
    <insert id="insertDetails" parameterType="java.util.List">
        insert into tbl_bill_dtl_materialout(id, billId, materialId, specification, quantity, price, amount, modifydate, remark, status) 
             values
             <foreach collection="list" item="dtl" index="index" separator=",">
                 (#{dtl.id} , #{dtl.billId}, #{dtl.material.id}, #{dtl.specification}, #{dtl.quantity}, #{dtl.price}, #{dtl.amount}, sysdate(), #{dtl.remark}, '1')
             </foreach>
    </insert>
    
    <update id="deleteDetailsByBillId" parameterType="String">
        update tbl_bill_dtl_materialout set 
          status = '0',
          modifydate = sysdate()
        where billId = #{id}
    </update>
    
    <!-- <resultMap type="MaterialOut" id="mtloutmap">
        <result property="id" column="id"/>
        <result property="billDate" column="billDate"/>
        <result property="materialId" column="materialId"/>
        <result property="materialName" column="materialName"/>
        <result property="specification1" column="specification1"/>
        <result property="specification2" column="specification2"/>
        <result property="specification3" column="specification3"/>
        <result property="unit" column="unit"/>
        <result property="amount" column="amount"/>
        <result property="remark" column="remark"/>
        <result property="status" column="status"/>
    </resultMap>
    
    <select id="getPageResult" parameterType="MaterialFilter" resultMap="mtloutmap">
        select mo.*, 
               m.name as materialName, 
               m.specification1, 
               m.specification2, 
               m.specification3, 
               m.unit
          from tbl_material_out mo, 
               tbl_material m
         where mo.status = '1' 
           and mo.materialId = m.id 
          <if test="startDate != null">
          and mo.billDate &gt;= #{startDate}
          </if>
          <if test="endDate != null">
          and mo.billDate &lt;= #{endDate}
          </if>
          <if test="name != null and name !=''">
          and m.name like #{name} 
          </if>
          order by mo.billDate desc
          limit #{pageOffset},#{pageSize}
    </select> 
    
    <select id="query" parameterType="MaterialFilter" resultMap="mtloutmap">
        select mo.*, 
               m.name as materialName, 
               m.specification1, 
               m.specification2, 
               m.specification3, 
               m.unit
          from tbl_material_out mo, 
               tbl_material m
         where mo.status = '1' 
           and mo.materialId = m.id 
          <if test="startDate != null">
          and mo.billDate &gt;= #{startDate}
          </if>
          <if test="endDate != null">
          and mo.billDate &lt;= #{endDate}
          </if>
          <if test="name != null and name !=''">
          and m.name like #{name} 
          </if>
          order by mo.billDate desc
    </select>
    
    <select id="count" parameterType="MaterialFilter" resultType="int">
        select count(1)
          from tbl_material_out mo, 
               tbl_material m
         where mo.status = '1' 
           and mo.materialId = m.id 
          <if test="startDate != null">
          and mo.billDate &gt;= #{startDate}
          </if>
          <if test="endDate != null">
          and mo.billDate &lt;= #{endDate}
          </if>
          <if test="name != null and name !=''">
          and m.name like #{name} 
          </if>          
    </select>   
    
    <select id="getById" parameterType="String" resultType="MaterialOut">
        select mo.*, 
               m.name as materialName, 
               m.specification1, 
               m.specification2, 
               m.specification3, 
               m.unit
          from tbl_material_out mo, 
               tbl_material m
         where mo.status = '1' 
           and mo.materialId = m.id 
           and mi.id = #{id} 
    </select>
    
    <insert id="insert" parameterType="MaterialOut">
        insert into tbl_material_out(id, billDate, materialId, amount, modifydate, remark, status)  
          values(#{id}, #{billDate}, #{materialId}, #{amount}, sysdate(), #{remark}, #{status})
    </insert>
    
    <insert id="batchInsert" parameterType="java.util.List">
        insert into tbl_material_out(id, billDate, materialId, amount, modifydate, remark, status) 
             values
             <foreach collection="list" item="mtlout" index="index" separator=",">
                 (#{mtlout.id} , #{mtlout.billDate}, #{mtlout.materialId}, #{mtlout.amount}, sysdate(), #{mtlout.remark}, '1')
             </foreach>
    </insert>
    
    <update id="delete" parameterType="String">
        update tbl_material_out set 
          status = '0',
          modifydate = sysdate()
        where id = #{id}
    </update> -->
    
</mapper>