<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.douniu.imshh.material.dao.IMaterialSupplierDao">
    <resultMap type="MaterialSupplier" id="mtlsuppmap">
        <result property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="categoryIds" column="categoryIds"/>
        <result property="remark" column="remark"/>
        <result property="status" column="status"/>
    </resultMap>
    
    <select id="getPageResult" parameterType="MaterialFilter" resultMap="mtlsuppmap">
        SELECT s.id, s.name, s.remark, c.categoryIds 
          from tbl_material_supplier s,
               (SELECT
					ms.id,
					GROUP_CONCAT(mc.name) as 'categoryIds'
				FROM
					tbl_material_supplier ms
				LEFT JOIN tbl_material_category mc ON FIND_IN_SET(mc.id, ms.categoryIds)
				GROUP BY
					ms.id) c
		  where s.status = '1' and s.id = c.id
          <if test="name != null and name !=''">
          and s.name like #{name} 
          </if>
          <if test="category != null and category !=''">
          and s.categoryIds like #{category} 
          </if>
          order by s.modifydate desc
          limit #{pageOffset},#{pageSize}
    </select> 
    <select id="query" parameterType="MaterialFilter" resultMap="mtlsuppmap">
        select * from tbl_material_supplier where status = 1
        <if test="name != null and name !=''">
          and name like #{name} 
        </if> 
        <if test="category != null and category !=''">
          and categoryIds like #{category} 
        </if>  
          order by modifydate desc
    </select>
    
    <select id="count" parameterType="MaterialFilter" resultType="int">
        select count(1) 
          from tbl_material_supplier 
         where status = '1' 
          <if test="name != null and name !=''">
          and name like #{name} 
          </if>  
          <if test="category != null and category !=''">
          and categoryIds like #{category} 
          </if>          
    </select>   
    
    <select id="getById" parameterType="String" resultType="MaterialSupplier">
        select * from tbl_material_supplier where id = #{id}
    </select>
    
    <insert id="insert" parameterType="MaterialSupplier">
        insert into tbl_material_supplier (id, name, categoryIds, modifydate, remark, status)  
          values(#{id}, #{name}, #{categoryIds}, sysdate(), #{remark}, #{status})
    </insert>
    
    <update id="update" parameterType="MaterialSupplier">
        update tbl_material_supplier set 
          name = #{name},
          categoryIds = #{categoryIds},
          remark = #{remark},
          modifydate = sysdate()
        where id = #{id}
    </update>
    
    <update id="delete" parameterType="String">
        update tbl_material_supplier set 
          status = '0',
          modifydate = sysdate()
        where id = #{id}
    </update>
    
</mapper>