<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.douniu.imshh.material.dao.IMaterialDao">
    <resultMap type="Material" id="mtlmap">
        <result property="id" column="m_id"/>
        <result property="name" column="m_name"/>        
        <result property="specification" column="m_specification"/>
        <result property="unit" column="m_unit"/>
        <result property="storage" column="m_storage"/>
        <result property="remark" column="m_remark"/>
        <result property="status" column="m_status"/>
        <association property="ctg" javaType="MaterialCategory">
        	<id property="id" column="c_id"/>
        	<result property="name" column="c_name"/>
        	<result property="code" column="c_code"/>
        </association>
    </resultMap>
    
    <select id="getPageResult" parameterType="MaterialFilter" resultMap="mtlmap">
        select m.id as m_id, 
               m.name as m_name, 
               m.specification as m_specification, 
               m.unit as m_unit, 
               m.storage as m_storage, 
               m.remark as m_remark, 
               m.status as m_status, 
               c.id as c_id,
               c.name as c_name,
               c.code as c_code 
          from tbl_material m, 
               tbl_material_category c             
         where m.status = '1'
           and m.categoryId = c.id
          <if test="name != null and name !=''">
          and m.name like #{name} 
          </if>
          <if test="ctgCode != null and ctgCode !=''">
          and c.code like #{ctgCode} 
          </if>
          <if test="specification != null and specification !=''">
          and m.specification like #{specification} 
          </if>
          <if test="lowerStorage != null and lowerStorage !=0f">
          and m.storage &gt;= #{lowerStorage} 
          </if>
          <if test="upperStorage != null and upperStorage !=0f">
          and m.storage &lt;= #{upperStorage} 
          </if>
          <if test="remark != null and remark !=''">
          and m.remark like #{remark} 
          </if>
          order by c.code, m.name desc
          limit #{pageOffset},#{pageSize}
    </select> 
    <select id="query" parameterType="MaterialFilter" resultMap="mtlmap">
        select m.id as m_id, 
               m.name as m_name, 
               m.specification as m_specification, 
               m.unit as m_unit, 
               m.storage as m_storage, 
               m.remark as m_remark, 
               m.status as m_status, 
               c.id as c_id,
               c.name as c_name,
               c.code as c_code 
          from tbl_material m, 
               tbl_material_category c           
         where m.status = '1'
           and m.categoryId = c.id
          <if test="name != null and name !=''">
          and m.name like #{name} 
          </if>
          <if test="ctgCode != null and ctgCode !=''">
          and c.code like #{ctgCode} 
          </if>
          <if test="specification != null and specification !=''">
          and m.specification like #{specification} 
          </if>
          <if test="lowerStorage != null and lowerStorage !=0f">
          and m.storage &gt;= #{lowerStorage} 
          </if>
          <if test="upperStorage != null and upperStorage !=0f">
          and m.storage &lt;= #{upperStorage} 
          </if>
          <if test="remark != null and remark !=''">
          and m.remark like #{remark} 
          </if>
          order by c.code, m.name desc
    </select>
    <select id="exactQuery" parameterType="MaterialFilter" resultMap="mtlmap">
        select m.id as m_id, 
               m.name as m_name, 
               m.specification as m_specification, 
               m.unit as m_unit, 
               m.storage as m_storage, 
               m.remark as m_remark, 
               m.status as m_status, 
               c.id as c_id,
               c.name as c_name,
               c.code as c_code 
          from tbl_material m, 
               tbl_material_category c           
         where m.status = '1'
           and m.categoryId = c.id
           and m.name = #{name} 
           and m.categoryId = #{category}
           and m.specification = #{specification} 
    </select>
    <select id="count" parameterType="Material" resultType="int">
        select count(1) from tbl_material m, 
                              tbl_material_category c             
         where m.status = '1'
           and m.categoryId = c.id
          <if test="name != null and name !=''">
          and m.name like #{name} 
          </if>
          <if test="ctgCode != null and ctgCode !=''">
          and c.code like #{ctgCode} 
          </if>
          <if test="specification != null and specification !=''">
          and m.specification like #{specification} 
          </if>
          <if test="lowerStorage != null and lowerStorage !=0f">
          and m.storage &gt;= #{lowerStorage} 
          </if>
          <if test="upperStorage != null and upperStorage !=0f">
          and m.storage &lt;= #{upperStorage} 
          </if>
          <if test="remark != null and remark !=''">
          and m.remark like #{remark} 
          </if>
    </select>   
    
    <select id="getById" parameterType="String" resultMap="mtlmap">
        select m.id as m_id, 
               m.name as m_name, 
               m.specification as m_specification, 
               m.unit as m_unit, 
               m.storage as m_storage, 
               m.remark as m_remark, 
               m.status as m_status, 
               c.id as c_id,
               c.name as c_name,
               c.code as c_code 
          from tbl_material m, 
               tbl_material_category c           
         where m.status = '1'
           and m.categoryId = c.id 
           and m.id = #{id}
    </select>
    
    <insert id="insert" parameterType="Material">
        insert into tbl_material(id, name, specification, categoryId, storage, unit, modifydate, remark, status)  
          values(#{id}, #{name}, #{specification}, #{ctg.id}, #{storage}, #{unit}, sysdate(), #{remark}, #{status})
    </insert>
    
    <insert id="batchInsert" parameterType="java.util.List">
        insert into tbl_material(id, name, specification, categoryId, storage, unit, modifydate, remark, status) 
             values
             <foreach collection="list" item="mtl" index="index" separator=",">
                 (#{mtl.id} , #{mtl.name}, #{mtl.specification}, #{mtl.ctg.id}, #{mtl.storage}, #{mtl.unit}, sysdate(), #{mtl.remark}, '1')
             </foreach>
    </insert>
    
    <update id="setStorage" parameterType="Material">
        update tbl_material set 
          storage = #{storage},
          modifydate = sysdate()
    where id = #{id}
    </update>
    
    <update id="update" parameterType="Material">
    	update tbl_material set
    	  name = #{name},
    	  specification = #{specification},
    	  categoryId = #{ctg.id},
    	  storage = #{storage}, 
    	  unit = #{unit},
    	  remark = #{remark},
    	  modifydate = sysdate()
        where id = #{id}
    </update>
    
    <update id="delete" parameterType="String">
        update tbl_material set 
          status = '0',
          modifydate = sysdate()
        where id = #{id}
    </update>
    
</mapper>