<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>IMShh</display-name>
  <welcome-file-list>
    <welcome-file>login.html</welcome-file>
  </welcome-file-list>
  <listener>
    <listener-class>
  org.springframework.web.context.ContextLoaderListener
    </listener-class>
  </listener>
  <context-param>
    <param-name>contextConfigLocation</param-name>
    <param-value>classpath:applicationContext.xml</param-value>
  </context-param>
  
  <servlet>
    <servlet-name>spPro</servlet-name>
    <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
    <init-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>classpath:spPro-servlet.xml</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>spPro</servlet-name>
    <url-pattern>*.do</url-pattern>
  </servlet-mapping>

  <filter>  
     <filter-name>characterEncodingFilter</filter-name>  
     <filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>  
     <init-param>  
         <param-name>encoding</param-name>  
         <param-value>UTF-8</param-value>  
     </init-param>  
     <init-param>  
         <param-name>forceEncoding</param-name>  
         <param-value>true</param-value>  
     </init-param>  
   </filter>  
   <filter-mapping>  
     <filter-name>characterEncodingFilter</filter-name>  
     <url-pattern>/*</url-pattern>  
   </filter-mapping>
   
   <!-- <filter>
   	 <filter-name>authorizationFilter</filter-name>
   	 <filter-class>com.douniu.imshh.sys.action.AuthorizationFilter</filter-class>
   	 <init-param>
        <param-name>loginStrings</param-name>
        <param-value>login/login.do;login/userOnLine.do;login/verifyPWD.do;login/logout.do;login/getUserMemu.do</param-value>
     </init-param>
     <init-param>
        <param-name>baseAuthroity</param-name>
        <param-value>login/changePWD.do;userProfile.do;editProfile.do</param-value>
     </init-param>
     <init-param>
        <param-name>includeStrings</param-name>
        <param-value>.do;.jsp</param-value>
    </init-param>
   </filter>
   <filter-mapping>  
     <filter-name>authorizationFilter</filter-name>  
     <url-pattern>/*</url-pattern>  
   </filter-mapping> -->
</web-app>